[2014-11-24 15:40] marcusgreen opened #4 "A message for ross"
I noticed this at the Moodle.org forums today
https://moodle.org/mod/forum/discuss.php?d=275612#p1184613

email me at marcusavgreen at gmail dot com

[2014-12-22 03:00] nash81 opened #6 "Error in Installation"
Hi,

I keep getting the following error while trying to install the same.
I have tried serveral things, delete the database, config file, creating a fresh user and database. But everything get the same error message. Appreciate your guidance on the same.

Installation - Step 3
Your database connection was successful, so the installation may proceed.
Errors occurred in populating the database; empt

[2015-02-14 10:43] vishal001 opened #7 "PHP Fatal error: Call to a member function prepare() on a non-object in \functions.php on line 3004"
Hi Ross,

I am trying to integrate module in my hosting server. But getting this error.
Please help and correct me how to integrate and upload it on server.

What other setting i need to change.

Thanks

[2015-02-14 11:23] rossdotparker commented on #7
Vishal001, thanks for trying Gibbon! This is not a problem we have seen before. Are you using the current, stable version 9.0.00? What kind of server are you on, can you give me some more details? What page is this happening on? The installer? I am wondering if your host supports PDO database library in PHP, which is essential for Gibbon.

[2015-02-14 11:31] vishal001 commented on #7
I am using godaddy hosting site. It is happening on index.php page.

[2015-02-14 11:33] rossdotparker commented on #7
Vishal, did you install yourself? I think GoDaddy includes Softaculous in CPanel, which allows you install with no fuss. Either that, or try and upload all files again from a fresh download, in case something went wrong with the download or upload.

[2015-02-14 11:35] vishal001 commented on #7
Thanks, Please can you give me download link which you think will have no issues?

[2015-02-14 11:38] rossdotparker commented on #7
Try: https://gibbonedu.org/download, which uses the GitHub download, but gives you the latest stable version. In future, please post questions to http://forum.gibbonedu.org, rather than GitHub, which is aim more for our developers. Thanks! Good luck, let me know how you get on.

[2015-02-14 13:41] vishal001 commented on #7
Hi Ross,

PHP Fatal error:  Call to a member function prepare() on a non-object in \core-9.0.00\functions.php on line 3004

same error when i am uploading website to godaddy hosting site.
Please help.

Thanks

[2015-02-14 13:49] dickybagus commented on #7
Please don't reply from here, I will help you,  contact me on dicky.bagus@gmail.com. Thank you
--
Sent from myMail app for Android
Saturday, 14 February 2015, 08:41PM +07:00 from vishal001 <notifications@github.com>:
vishal001 (notifications@github.com) is not on  your Guest List |  Approve sender |  Approve domain
Hi Ross,
PHP Fatal error:  Call to a member function prepare() on a non-object in \

[2015-02-14 13:51] vishal001 commented on #7
Do I need to update any setting or change server settings?
Do we need config.php?

[2015-02-14 13:56] rossdotparker commented on #7
Dicky, thanks for your offer of help!

Vishal, please email Dicky, and I am sure he will be able to help you. config.php is created by the installer, which should run on first access to the site. In terms of server settings, etc, check out the details at the top and bottom of https://gibbonedu.org/support/administrators/installing-gibbon/

[2015-02-14 14:47] vishal001 commented on #7
I have started to contact dicky. Looking for his help.
Many thanks, Ross, Dicky,

[2015-02-17 09:05] vishal001 commented on #7
Thanks Dicky, with your help I can move on.

Many Thanks.

[2015-02-17 09:05] #7 closed

[2015-03-22 14:34] nobicycle opened #12 "System Default Language and Personal Language not working."
Gibbon Version 9.
Example: id_ID

echo "select code,systemDefault from gibboni18n;"|mysql -u root -p
gibbon Enter password:
code	systemDefault
en_GB	N
en_US	N
es_ES	N
zh_CN	N
zh_HK	N
pl_PL	N
it_IT	N
id_ID	Y
ar_SA	N
fr_FR	N

$ ls -l /srv/http/gibbon/i18n/id_ID/LC_MESSAGES/
total 2456
-rwxrwxrwx 1 http http   49115 04.02.2015 08:27 gibbon.mo*
-rwxrwxrwx 1 http http 2463812 04.02.2015 08:27 gibbon.po

[2015-03-22 14:54] nobicycle opened #13 "Suggestion: Automated Attendance"
(I was not sure whether to enter this suggestion as an issue).

Suggestion:
Use automated attendance information gathering.

Benefit:
1.Leaves the teacher to attend to the class instead of being focused on mundane attendance register.
2.Data is electronic and cannot be lost is falsified.
3.The categories (Late etc) are calculated.
4.No time lost in Data entry.

I am using this fingerprint reader:

[2015-03-22 14:55] nobicycle opened #14 "Automated Attendance"
(I was not sure whether to enter this suggestion as an issue).

Suggestion:
Use automated attendance information gathering.

Benefit:
1.Leaves the teacher to attend to the class instead of being focused on mundane attendance register.
2.Data is electronic and cannot be lost or falsified.
3.The categories (Late etc) are calculated.
4.No time lost in Data entry.

I am using this fingerprint reader:

[2015-03-23 11:16] #14 closed

[2015-03-23 11:18] rossdotparker commented on #13
nobicycle, thanks for this suggestion, it does sound good. Certainly an improvement on card scanners, which are far easier to spoof. At this point, we have a range of priorities, so I can't see this being implemented on our side. However, if you wanted to code it up, we would certainly look at merging it into the core. Thanks for taking the time to make this suggestion.

[2015-03-23 11:18] #4 closed

[2015-03-23 11:18] #6 closed

[2015-03-23 11:20] rossdotparker commented on #12
nobicycle, sorry to hear about this issue. Are you by any chance using nginx as your web server? As long as you have gettext installed and activated in PHP there should be no issues getting it running in Apache. However, nginx has eluded us this far. Can you check your server logs to see if there are any issues related to gettext?

[2015-03-23 12:35] nobicycle commented on #12
Hi Ross,
Not nginx . It's apache.
I did notice a calendar popup appeared in Spanish, but the menus, etc
remained in English.
There were quite a few errors, but nothing to do with gettext.
Let me clean it up and try again.
Re coding fingerprints, the Open Source app that does attendance (1:n =
identification)  I referenced is 95% complete. It is written in Python.
It saves to sqlite3 but that could

[2015-03-25 01:02] nobicycle commented on #12
Hi Ross,

I cleared the apache error log, restarted, used Gibbon and then
rechecked the log. No errors were in the log.

I switched system default language to Indonesian and Spanish,
http://localhost/gibbon/index.php?q=/modules/System%20Admin/i18n_manage.php

logging in and out each time.
No effect - that is, everything visible was in English.

phpinfo.pdf attached.

Regards

On Mon, 23 Mar 2015 0

[2015-03-25 04:23] rossdotparker commented on #12
Nobicycle, that is interesting. Do you definitely have the locales installed on the machine? Take a look at https://help.ubuntu.com/community/Locale for how to do this on Ubuntu (other distros should be similar).

In terms of the fingerprint scanning, it would not go down well at my school, so I will not look into it further. I really appreciate the idea, just need to focus on other things. Thanks

[2015-05-17 11:46] jmsperu opened #19 "Error Adding Fees"
I received an error when I was trying to add fees.Please refer to the attached image and advice on how to address the issue. Thank
![err](https://cloud.githubusercontent.com/assets/10476367/7670180/bad2a798-fc4f-11e4-99f2-600f5445361e.PNG)
 you

[2015-05-18 06:17] rossdotparker commented on #19
This has been fixed in v10 (which is in the v9.2.00 branch here on GitHub). As advised by email, you are best of running with PHP Notices turned off to avoid such issues. If you do spot any more of these, let us know and we will fix them up for the next version.

[2015-05-18 06:17] #19 closed

[2015-05-18 06:24] jmsperu commented on #19
I turned error reporting off and they are not displaying any more. Thank you.

On 5/17/15, Ross Parker <notifications@github.com> wrote:

--
Thank you, Best Regards,
James M. Peru

[2015-05-19 09:51] #12 closed

[2015-05-19 09:51] #13 closed

[2015-06-29 20:13] myii commented on #12
@nobicycle This might be a bit late but I was having the same problem, running on Ubuntu 14.04, trying to get Arabic working.

Before fixing:
[code]

Checked in the database for the user's language preference:
[code]

So generated the specific locale and restarted Apache:
[code]

After fixing:
[code]

And this worked for me.

@rossdotparker BTW, while I was hunting around for answers, got an SSL e

[2015-06-30 20:17] mictsao opened #30 "School Closed Error"
After clicking the "Space Booking" checkbox under the timetable, the year fast forwards to a date in the future. This would repeat until it reaches January 1, 2024.

The schedule would also indicate that the school is closed. Even going back to the original date will results in a schedule that shows the school is closed.

Screenshots have been attached.
![screen shot 2015-06-30 at 1 15 06 pm](http

[2015-07-01 04:36] rossdotparker commented on #30
mictsao, thanks for posting this issue. The timetable only shows data from within the current school year, so scrolling into the future with always show this issue. To see the timetable in future years, please log out and log into another year (using the Options link on the login form). Hope this helps: if not, let me know. Ross

[2015-07-01 05:33] mictsao commented on #30
Hi Ross, thanks for getting back to me so quickly. The curious thing is that I didn't scroll to any dates. The system skips to a random future date when I check, "Space Booking", so the system involuntarily moves me to a future date. For example, after checking the "Space Booking" box, the date will now show 1 year into the future.

Your system is incredibly robust, and we've really enjoyed trying

[2015-07-04 12:50] rossdotparker commented on #30
Michael, thanks for this. The video was vital in working out the issue, as it is US-date specific, and so we would never have found it as we use UK-style dates. It has now been fixed for v11, and the fix should be backwards compatible to v10. To patch your version, get /modules/Timetable/moduleFunctions.php from the commit linked below, and upload it to your install:

https://github.com/GibbonEdu/

[2015-07-05 04:12] myii opened #31 "Display the application form in two languages"
International school setting in Saudi Arabia, wanted to know if the application form could be displayed in both English and Arabic at the same time.

I've put together a wrapper function for `gettext` that provides this functionality, for any choice of second language.  If no second language is desired, shows the application form as usual.

Some images to give an idea of how it looks:

![screensho

[2015-07-06 18:32] mictsao commented on #30
We successfully deployed the patch. This took care of the issue perfectly. Thank you Ross.
Michael

[2015-07-06 18:32] #30 closed

[2015-07-08 10:05] rossdotparker commented on #31
myii, thanks so much: this looks great. Can you push the code to the v11 branch so I can take a look? Does the second language have to be hard coded? Hopefully not, but if so, maybe we can code things so it can be specified as a database option. Thanks for your continuing contributions ; )

[2015-07-08 19:36] myii commented on #31
@rossdotparker See you in the PR - hope you enjoy it!

[2015-07-08 19:36] #31 closed

[2015-07-21 14:43] everkool82 opened #33 "Error in Multi TimeTable feature"
Hello Gibbon Team - I extend heartfelt compliments for the meticulous work done with Gibbon as a flexible school management system. However, I am reporting a issue here.

Version: 10.0.0.0
Role: Administrator
Platform - XAMPP for Windows

While exploring the multi timetable feature  offered in Gibbon (v 10.0.0.0), I came across an unexpected outcome for a routine scenario. At a high level,as an ad

[2015-07-22 10:32] rossdotparker commented on #33
everkool82,

Thanks for sharing this bug, and for your very detailed description. I have replicated the issue, and it believe I have managed to fix it. It seems it was only occurring on the homepage, not when you viewed in the Timetable module.

The fix will be included in v11, but I am sure you will want it in your system in v10. The two files that have been edited (/index.php and /index_tt_ajax.

[2015-07-22 16:46] everkool82 commented on #33
That was a speedy response, Ross!

On replacing the local files with the ones shared in the link above, the result did not meet the expectation. Home screen continued to show the timetable as before, plus string "here" is also reflecting.

Also, click on different timetables is yielding-  here'<'gibbonTTID'>'

Result Snapshot:
http://bit.ly/1TQuIXn

Steps followed:
Step1:
2 files - /index.php and

[2015-07-23 03:01] rossdotparker commented on #33
We try to respond fast to help schools get the best out of Gibbon. The debug code you spotted was accidentally left in place after the fix went it, and has been fixed in this commi:

https://raw.githubusercontent.com/GibbonEdu/core/293894919fbef7a216fd188a5a8758286b593eea/index_tt_ajax.php

Beyond that, I have tested it, and can switch between timetables fine on the homepage now. Both showing as t

[2015-07-27 23:10] recurza opened #34 "Markbook Audio Recording"
Hi Ross,

I'm still stuck on this. When I record into a blob, I don't know how to send it along with the rest of the form when the user presses submit. I've tried xhr and form.append (but I might not be using it correctly).
What other methods are there?

Thanks,

Steph

[2015-07-29 08:05] rossdotparker commented on #34
Steph, don't store the blob in the database, as it will get too big. Try
setting the enctype on the form to allow file uploads. Check the markbook
data page to see how it works. Ross.
On Jul 28, 2015 9:10 AM, "Steph Ng" <notifications@github.com> wrote:

[2015-07-30 05:55] recurza commented on #34
I see, so I should use a hidden file input and set the value to blob? And then upload it to the uploads folder?

[2015-08-01 09:37] recurza commented on #34
Now I'm stuck on the uploading part. I can pass the blob by using $_POST, but I can't convert it to a wav file. It gives me a file with only 13 bytes.
I'm using `file_put_contents($path . "/" . $attachment, $_POST['rec']))`.

[2015-08-02 09:58] rossdotparker commented on #34
Hmmm, what is the form of the blob in the first place? Is there a config
option in the recording library to get a file in a specific file?

WAV would be a terrible file format as well, as the files are huge...HUGE!
MP3 would be better, but there might be licensing issues.

Does this help? Keep digging ; )

On Sat, Aug 1, 2015 at 7:37 PM, Steph Ng <notifications@github.com> wrote:

--
*Husband, fat

[2015-08-02 15:38] recurza commented on #34
Yep, I set the "mime type" to wav. But I'll have to find some way to
compress the wav to mp3
​, which means (I think) I still have to send the blob from the form to
add_process.​

On Aug 2, 2015 5:58 PM, "Ross Parker" <notifications@github.com> wrote:

[2015-08-28 09:43] Akuukis opened #38 "Feature request: new status "Partly Paid" for invoices"
Aim: To see unpaid invoices more obviously.

It is already possible to pay partly but in that case invoice gets status of "Paid" thus making it impossible to filter them separately. And it is not convenient to filter by "Issued", then "Issued: Overdue" and then manually go through "Paid" invoices.

Suggestion: Add new status for invoices "Partly Paid" and add new filter condition that technically

[2015-08-28 09:54] Akuukis opened #39 "Feature request: summary of invoices for invoice view"
Aim: To get overview fast

Example: if filtered by "Paid" in specific billing schedule, to fast understand how much money inflow was in that billing schedule.

Suggestion: edit the "X invoices in currect view" line to include also information as "Sum of Total" and "Sum of Paid", or make a new summary row beneath the results to present this information.

I think I could do this myself, but then ple

[2015-08-29 11:34] rossdotparker commented on #38
Akuukis,

Thanks for this request. This item is actually already in the v11 Todo list (Item 37 at https://docs.google.com/spreadsheets/d/1v-5KnzbGxr9IyRdY_miq3jbSJx_UD5zZZujMkZXWdew/edit). Although that request is not 100% what you are asking for, the solution should meet your needs.

I am just sitting down to work on this now, and will update the forum post that this request stemmed from once don

[2015-09-03 12:45] rossdotparker commented on #39
Akuukis, our resources are currently stretched getting ready for v11. If you would like to code and contribute this, you could look at the file /modules/Finance/invoices_manage.php. You could work on a fork of the v11 branch (https://github.com/GibbonEdu/core/tree/v11.0.00) and then push when you have it working.

Alternatively, you could look at setting up a custom SQL query in the Query Builder

[2016-01-20 01:52] SKuipers opened #49 "CSV user import MIMETYPE error"
Hi Ross & Gibbon Developers,

When importing a CSV file of users by following the instructions, using the sample file and using LibreOffice, I continue to get the following error:

"Import cannot proceed, as the submitted file has a MIME-TYPE of application/csv, and as such does not appear to be a CSV file."

Version: 10.0.0.0 (also found in v11.0.00dev)
Role: Administrator
Platform - LAMP (& MAMP

[2016-01-20 13:41] #33 closed

[2016-01-20 13:44] rossdotparker commented on #49
Sandra,

Thanks for this. I have applied your fix to all spots in Gibbon where CSVs are imported. Oddly, my LibreOffice seems to be using one of the MIME types in the original list, and so is behaving differently to yours. You can check out the changes in the following commit:

https://github.com/GibbonEdu/core/commit/8c596075cf45dd078ff55765d444b3f9d7a67270

Appreciate your input on this one : )

[2016-01-20 13:44] #34 closed

[2016-01-20 13:44] #39 closed

[2016-01-20 13:44] #38 closed

[2016-02-18 14:32] aisachiu opened #50 "User Admin - Import families failing"
Getting fails for importing family, even though (I think) my data files seem like requested.

Wondering if there is an issue with import_families.php

After a quick look into User Admin**/import_families.php**, the SQL statements don't seem to match the **gibbonFamily** table field names on lines 414 and 439 (update and add family). Looks like gibbonFamily has been changed with field "languageHome

[2016-02-19 03:06] rossdotparker commented on #50
This has been fixed in https://github.com/GibbonEdu/core/commit/b7cca3d2073d136ff9072ccd3658c3d38d10e9f6. Thanks for reporting the bug.

[2016-03-22 04:51] #49 closed

[2016-05-05 03:46] #50 closed

[2016-06-20 23:51] mirman-mtaggart opened #76 "Special Days don't always display"
After adding a few special days successfully, no more will appear on the School Year calendar. Checked the DB for duplicates and none exist. This one's a stumper. Attached are the DB records along with a screenshot showing the invisible days.

v.12.00

![screenshot from 2016-06-20 16-50-52](https://cloud.githubusercontent.com/assets/10470377/16213821/3a9b7296-3707-11e6-9835-3e53ef663577.png)
![scr

[2016-06-21 01:01] rossdotparker commented on #76
Thanks for reporting this. Looking at the evidence above, this does look like a bug, although it is not one we have seen in any of our testing or production environments, and we have cases with at least 24 special days.

Are you able to share a dump of your database with support@gibbonedu.org so we can look into this case in more detail?

Thanks,

Ross

[2016-06-21 02:10] crayner commented on #76
Hi, Looking at the screen shots provided, I would suggest that you are using special days to define term breaks.  You may need to set your year, then terms.  Special days can then be added as required, to any day in the term, (or not in the term.)

Please, still provide the information that Ross requested, as we would like the opportunity to fix this issue as well, but using terms then special day

[2016-06-21 03:17] mirman-mtaggart commented on #76
Ross and Craig,

Thanks for the super-fast response!

To be clear, the term breaks are defined appropriately. We do have long-ish breaks within terms, hence the series of special days.

DB has been sent.

[2016-06-21 08:51] rossdotparker commented on #76
Michael, it turns out this was due to a timezone issue. I don't think anyone has set their timezone as far west as LA, and it seems, that once you deviate a certain amount from GMT, it messes with the matching of days based on timestamps. I have fixed this in the v13 commit below:

https://github.com/GibbonEdu/core/commit/b78f64731f06adb3bccd42b9e2b6209e9a758f9a

This commit is backwards compatibl

[2016-06-21 15:04] mirman-mtaggart commented on #76
That did it! Glad I could provide an edge case over here in Pacific Time.

[2016-06-21 15:04] #76 closed

[2016-06-21 22:00] rossdotparker commented on #76
Michael, excellent news, glad it worked. Please keep an eye out for any other such suspicious behaviour to do with time and date, and we can apply the same lens to investigating it,

[2017-01-06 22:11] petrk94 opened #156 "Errors occurred in populating the database"
Hello,
Im trying to install GibbonEdu on a shared server of Uberspace.
The install works and I can enter the database informations, but than I get this message:

Errors occurred in populating the database; empty your database, remove ../config.php and try again.

What can I do to solve this problem?
thanks

[2017-01-07 09:02] dowens76 opened #157 "Unicode rendering in particular contexts"
I noticed the given names of our teachers are shortened to a first initial in certain contexts, such as in a list of staff. That is fine, but when this happens I have noticed that the "Đ" character displays as "�". I would have guessed this is just a font issue, but when the name appears in full, there is no such problem.

To reproduce, give a staff member the name Adams, Đức. The name should disp

[2017-01-08 11:30] rossdotparker commented on #157
Daniel,

Thanks for reporting this bug. The characters in question are multibyte characters, but we were using the unibyte character version of substr (the standard PHP way to shorten a string). I have changed the function that formats names so that it now uses mb_substr instead. This should fix this case across the system, as far as names are concerned.

Please let us know if you notice the issue

[2017-01-08 11:38] rossdotparker commented on #156
Hello,

For this kind of issues, with are more likely to do with server configuration and less likely to be bugs, we are directing queries to our forum. Please can you post the same question at https://ask.gibbonedu.org and we will answer it there? Thanks!

Ross

[2017-01-08 11:38] #156 closed

[2017-01-09 00:32] dowens76 commented on #157
That fixed it. Thanks, Ross.

[2017-01-09 00:32] #157 closed

[2017-01-12 06:36] gsukrawan opened #161 "uploading zip photos not working on windows"
Hi Gibbon Dev,

For windows computer when we are uploading zip file, it recognized as "application/x-zip-compressed", it is fine on Mac and Linux.

I open the code /var/www/gibbon/modules/User Admin/import_userPhotos.php

line 110 : if ($_FILES['file']['type'] != 'application/zip') {

I add this to make it worked on windows

line 110 : if (($_FILES['file']['type'] != 'application/zip') and ($_FILE

[2017-01-13 05:54] rossdotparker commented on #161
Hello gsukrawan,

Thanks for letting us know about this, and providing the solution. I believe you are on v12 (latest stable), and looking at the code base for v13 (due for release 20/01/2017), this issue has already been fixed in exactly the manner you suggest.

Can you confirm that you are using v12? Care to do a test of v13's script just to make sure?

Thanks,

Ross

[2017-01-13 06:15] gsukrawan commented on #161
Thanks for your reply Ross,
Yes, we are using v12.0.00 (latest stable)
If v13 is out and it stable, we will test it.
Thanks for your support Ross

[2017-01-13 06:18] rossdotparker commented on #161
No problem. v13 is stable, fully tested, but not yet released. Please do not update the whole install, but if possible download the new version of the relevant script, and test it briefly within your v12 install (it should be fully backwards compatible): https://github.com/GibbonEdu/core/blob/v13.0.00/modules/User%20Admin/import_userPhotos.php

Ross

[2017-01-13 06:39] #161 closed

[2017-01-27 03:58] dowens76 opened #164 "Tie Days to Dates select all check box is over-zealous"
Our school has a different timetable for each term. In the "Tie Days to Dates" action, there is a handy check box to select all for each day of the week. However, this check box is a bit over-zealous in that it selects all, regardless of term. If I select it for Term 1, it also selects for Term 2. If I select it for Term 2, it also selects for Term 1. This means I have to check each individual day

[2017-02-03 04:02] dowens76 opened #165 "Calendar does not display on days school is not in session"
I have our school calendar (on Google) set to show up on the home page of a gibbon user.
![screencapture-regular-days](https://cloud.githubusercontent.com/assets/170327/22579051/c86bb328-e9ff-11e6-8e51-f7ad51bd13a7.png)

I noticed that on days that are marked as not in session, the calendar does not display even though those days are marked on the calendar as the mid-semester break.
![screencaptur

[2017-02-03 12:23] rossdotparker commented on #165
Daniel, that is an interesting one. The day's marked as "not in session", they seem to be in term time, without timetable days tied to dates, and without special days, is that correct? I believe if they are out of term time, or if they have special days, or if they have days tied to dates, then they should appear. Can you do a little testing to confirm this, and let me know, then we can look into

[2017-02-04 01:36] dowens76 commented on #165
Yes, they are in term time without timetable days tied to dates.

Days tied to dates show events in the calendar (see my first screenshot above).

Days out of term time show:
![screencapture-gib-hbc-edu-vn-index-php-1486172140399](https://cloud.githubusercontent.com/assets/170327/22614480/06e6ce52-eab5-11e6-815b-a470ec299082.png)

But are special days defined in Gibbon? How would I do that?

[2017-02-04 02:19] rossdotparker commented on #165
OK, that helps! Special days are days where school is closed or timings are changed. You can set these up under Admin > School Admin in the main menu followed by Manage Special Days in the module menu. If you add special days to the days in question, does that help solve your issue?

[2017-02-04 02:35] dowens76 commented on #165
Yeah, okay, the problem was I did not configure special days. Now it works. Sorry about that.

[2017-02-04 02:35] #165 closed

[2017-02-04 09:45] rossdotparker commented on #165
I guess it should work without special days...will try and fix this one of these days. Ross.

[2017-02-04 12:57] dowens76 commented on #165
I think documentation is one piece of this. There are some ways we could improve that, and since I am fresh as a user, I can try to work on that. I need to remember what I did for next time anyway!

Let me say when I realized there was a setting for special days and managing them was so easy, it only increased my delight in Gibbon. You've really done a good job putting it together.

[2017-02-05 13:12] rossdotparker commented on #165
Daniel, yes, documentation continues to be our weakest link...something I hope to remedy in the future. In the past, and for the immediate future, all effort has gone into features, stability and security. Glad to hear you are delighted by Gibbon : )

[2017-02-06 09:32] rossdotparker commented on #164
Daniel, well spotted. I think it was only ever supposed to select the whole year, and I never clocked the repeated checkboxes in the headers. However, it works much better as per your suggestion, selecting a term at a time. This has now been fixed in the v14 branch in the following commit:
and should be backwards compatible with

[2017-02-06 09:40] #164 closed

[2017-02-06 09:44] dowens76 commented on #164
Nice, thanks. I can confirm it works on v13.

[2017-02-06 10:04] rossdotparker commented on #164
My pleasure, and thanks for the confirmation. Apologies that it took a few days to get there!

[2017-04-07 05:43] kaustubhkabra opened #208 "Responsive/Mobile support ?"
Is this project responsive or has supports for native iOS/Android apps ?

[2017-04-13 07:47] SKuipers commented on #208
Hi @kk-code

Gibbon is not currently responsive, but we're working to add responsive design in future versions.

Here's some more info from Ross (re-posting from the Gibbon forum thread https://ask.gibbonedu.org/discussion/comment/2640/#Comment_2640):

[2017-05-02 10:20] mwendwa5 opened #223 "Print button for custom sql reports"
Can we have a print button for custom sql reports in query builder?

[2017-05-02 13:08] rossdotparker commented on #223
Bruce, printing unknown numbers of rows and columns presents a number of headaches, especially with web based systems. For printing I would recommend you export to a spreadsheet, and then use a spreadsheet app, which will have far more fine-grained print controls to do this.

For future reference, please post questions on Additional modules in the relevant repoistory for that module (this reposito

[2017-05-02 13:08] #223 closed

[2017-05-06 16:46] mwendwa5 opened #225 "Cannot change Invoice status without entering an imaginary 0 amount"
I wanted to change status of invoice since the fee paid in full. However this is not possible unless I make an imaginary payment of 0 amount. See attached screenshots.

![selection_385](https://cloud.githubusercontent.com/assets/4364019/25774227/6872acaa-3294-11e7-8219-4b75620360fc.png)

![selection_386](https://cloud.githubusercontent.com/assets/4364019/25774245/a8329a4e-3294-11e7-9f53-9f066baa56

[2017-05-06 16:50] mwendwa5 opened #226 "Automatic change of invoice status"
Can Invoice change status automatically after some payment has been received? e.g. if a partial payment is received, can it change to Paid-Partial and when full payment is made, to Paid?

[2017-05-21 12:34] rossdotparker commented on #225
Bruce, the way it is designed is that any payments made up until the point where the outstanding amount reaches $0 are Partial...but the final payment you make should have an amount and should be Final. Hope this makes sense.

[2017-05-21 12:36] rossdotparker commented on #226
We could do this, but sometimes people pay less than the full amount (perhaps a fee is optional, or they dispute something) and the computer would logically guess that it is a partial payment, but an operator knows it to be a full payment. This was why we implemented the way we did. Not to say it is perfect....but it works in many cases.

[2017-06-16 19:35] jackdickson5390 opened #282 "Spelling"
When hovering over a behavioural referral in the roll group section of the staff dashboard, the tick for positive referral says 'Position' rather than 'Positive'

[2017-06-17 12:36] rossdotparker commented on #282
Jack, well spotted. Surprised this one was never spotted before. It has been fixed in the following commit to the v14 dev branch: 0f32db8ea484b8b4ba827b96fb35e8be806c446e

Thanks,

Ross

[2017-06-17 12:38] jackdickson5390 commented on #282
I didn't know if this was appropriate to report spelling mistakes and was trying not to be smarmy about it. I just want to help. Thanks & good luck for v14 release! We're waiting!

[2017-06-17 12:38] #282 closed

[2017-06-17 12:40] rossdotparker commented on #282
Perfect use of this feature : ) Not smarmy...helpful! Cheers.

[2017-06-17 12:41] rossdotparker commented on #282
Perfect use of this feature : ) Not smarmy...helpful! Cheers.

v14 will be out on time...perhaps even a day or two early. All lined up and ready to go!

[2017-06-17 12:42] jackdickson5390 commented on #282
No problem! Where my code abilities are limited, I try to help in other ways. Can't wait for v14, should make things easier on the code side for you, with regards to implementation of mobile responsiveness for v15. Again, best of luck.

[2017-06-17 14:19] #225 closed

[2017-06-17 14:19] #226 closed

[2017-06-17 14:23] mwendwa5 opened #283 "Addition formular in a table"
Is it possible to have a formula in the tables you insert in expenses? Kinda like basic formulars in MS Word since already there are many formatting functions

![image](https://user-images.githubusercontent.com/4364019/27253679-8a5a69d0-5381-11e7-9dd3-9bebe6d050f0.png)

[2017-06-18 12:12] rossdotparker commented on #283
Bruce, I'll answer this one in the forum. In future, please try and post only bugs here, and everything else in the forum. Double-posting slows us down, as I am sure you can understand. Thanks, Ross.

[2017-06-18 12:12] #283 closed

[2017-07-03 06:03] CafSentryGnome opened #286 "Future absence"
After upgrading to v14 future absences are no longer showing up in attendance by roll group only in attendance by class.

[2017-07-03 17:30] SKuipers commented on #286
Hi @CafSentryGnome

Some settings were added to v14 to handle pre-filling attendance from other contexts, I think the default settings should be on for attendance by roll group, however you can check to be sure in School Admin > Attendance Settings, and look in the Pre-Fills & Defaults section.

[2017-07-05 21:28] joanatam opened #287 "installer not finding '..\config.php'"
Hello!  I'm unable to install the current stable build (github) using the installer.  I get the message:
"The directory containing the Gibbon files is not currently writable, or config.php already exists in the root folder and is not empty or is not writable, so the installer cannot proceed."

I notice that config.php is in "../src/Gibbon" ... am I doing something wrong?

[2017-07-05 22:00] joanatam commented on #287
Whoops.  I did "touch config.php" in the root folder, and the got past this error.
Now I'm trying to get past a new installer issue creating the DB: "Errors occurred in populating the database; empty your database, remove ../config.php and try again."

I will close this issue, and log the DB creation issue, if I can't get past it.  THANKS

[2017-07-05 22:00] #287 closed

[2017-07-05 22:01] joanatam commented on #287
Just needed to add 1 manual step before loading gibbon: "touch config.php; chmod a+w config.php".  Install continued after that.  Thanks.

[2017-07-05 22:18] SKuipers commented on #287
Hi joanatam,

Sounds like your root directory may not be writable, or the process running PHP doesn't have enough permissions to access files in the root. Something like `chmod -R 755` usually helps, but you may need to also adjust the `chown`/`chgrp` to match the same user as your webserver (depending on your server setup).

The config.php file is created as part of the install process. If you're

[2017-07-05 22:36] joanatam commented on #287
Thanks for the fast reply!  I did discover that the config file in ./src/Gibbon/ was different, and the config.php in the root folder needed to be empty (hence the 'touch'), but the installer didn't create the file for me ... it did populate it, however, once I created an empty one, and we got past the verification in install.php.

I did take your advice, ensuring the entire distro (root on...) is

[2017-07-05 22:46] SKuipers commented on #287
Creating the empty config.php file may be what's confusing the installer (the presence of the file tells the system that is already installed, but if the database isn't populated you'll get an error message). Now that you've changed the root to writeable you should be able to delete your empty config.php file, empty your database (if it has any tables) and proceed with a fresh install.

Hope this

[2017-07-05 22:50] crayner commented on #287
Hi Sandra,
On a linux box write is not the same as create, so the fact that it worked
after the creation of the empty config file may indicate, or the config
file was created by a different linux user, and the touch fixed the user
rights for the web server user.  All possibilities!

------------------------------------------
I greet you with the great words,
Grace and Peace

Craig Rayner
craig@cra

[2017-07-05 23:36] joanatam commented on #287
Thanks for your notes, 'Skippers' and 'crayner'.

OK I see ... I thought  the php line that was tripping me up had it as:
if (is_writable('../config.php') == false)
but on second look, I do see:
if (is_writable('../') == false)

Thanks for solving that!

For the record, I'm testing the install on 2 platforms:
(1) Codeanywhere IDE: Centos 6.5 w PhP 7 etc, and
(2) Cloud9 IDE: Ubuntu 14.04 w PhP 5.5.

[2017-07-05 23:47] crayner commented on #287
Hi joanatam,
 Then the issue may be SeLinux on Centos 6.5.  If you have root access to
the terminal of that host, then temporarily disable selinux  and see if the
system installs correctly.  Should this be the case, then selinux need
​s to be altered ​
to allow create/write by the server to the appropriate directory.  This is
a complexed process that your System admin can work on.
​  (Codeanywhere

[2017-07-06 19:13] joanatam commented on #287
OK thanks for your follow-up, crayner.  I just read another user's experience with Centos7:

https://ask.gibbonedu.org/discussion/1890/installation-on-centos-7

So it does seem I need to tweak the selinux settings prior to install if I want to run from there.  For now I'll continue to checkout the ubuntu install.

Thanks Again!

[2017-07-30 07:34] hanattaw opened #289 "CustomField with type dropdown is not check when submit form on Student Application Form"
When we set User Custom Field with type dropdown and set Required flag to 'Y'
The validation on Student Application Form is not working.

[2017-07-30 13:05] rossdotparker commented on #289
Hi @hanattaw, I have managed to replicate this issue, and will ask @SKuipers to look into it.

Sandra, I can see that isRequired is being correctly set on line 385 of /modules/Students/applicationForm.php, and that this is leading to the * against the field name. However, when I look into the source code, I see:

var custom001Validate=new LiveValidation('custom001', { });
custom001Validate.add(Val

[2017-08-04 19:32] SKuipers commented on #289
Hi Ross,

PR'd a fix. Looks like because the CustomField class uses an internal object to hold the type of Input it needs, validation rules added during the getElement() call are added to the child object and not the parent. I've added a method override for getValidationOutput() in the CustomField class, which passes the method call to the child object. Basic validation would have been unaffected,

[2017-08-05 07:53] hanattaw opened #291 "Application Form submit error when not select family name by logged in user with family."
The error shown "Your request failed because your inputs were invalid."

I've fixed this by manually select family name.

<img width="766" alt="screen shot 2560-08-05 at 14 44 47" src="https://user-images.githubusercontent.com/3141235/28993961-ab15048c-79ec-11e7-8914-dd06bda4df2a.png">

After searching in the code i see the "addRadio->checked($checked)" the checked method need to give the value bu

[2017-08-05 16:01] rossdotparker commented on #289
Sandra,

Thanks so much for putting this fix together. I'll take a look tomorrow and
then merge and test. A good time for me to get more familiar with the new
form objects.

Cheers,

Ross

On Sat, Aug 5, 2017 at 3:32 AM, Sandra Kuipers <notifications@github.com>
wrote:

--
*Husband, father, son, brother, friend, coder, teacher & technology
director.*
Blog .  http://rossparker.org
Tweets . @rossdot

[2017-08-06 04:22] SKuipers commented on #291
Thanks! Good catch, just PR'd a fix. Sounds like you're familiar with PHP, if you'd like to pull request any fixes for bugs you find feel free to give a shout with any dev questions 😃

[2017-08-07 00:34] rossdotparker commented on #289
Please note that this fix is now in the v15 dev branch as commit https://github.com/GibbonEdu/core/commit/9fac90b85d5d5e61132378b45d428044a3a4bd54. Case closed!

[2017-08-07 00:34] #289 closed

[2017-08-07 00:46] rossdotparker commented on #291
@hanattaw good catch indeed, and thanks for pointing out the solution. Let me know if you want to be added to the team here on GitHub so you can put in pull requests yourself. And, you are welcome to join us on Slack (just let me know and I will invite you) where we do our dev chat.

This issue has been merged into v15 dev branch in commit https://github.com/GibbonEdu/core/commit/a7cd7f03ec097b32d

[2017-08-07 00:46] #291 closed

[2017-08-07 15:54] hanattaw commented on #291
@rossdotparker Thank you. Please add me to the team.

[2017-08-08 15:09] rossdotparker commented on #291
Done!

[2017-09-19 03:10] samuelflores opened #348 "Inconsistency between calendar widget output and required date format in student Application Form"
I am using Gibbon 14. The calendar widget does not fill in the date correctly

## Expected Behavior

It should fill in the date in format dd/mm/yyyy.

## Actual Behavior

Calendar widget fills in date as mm/dd/yyyy

## Steps to Reproduce

1. Go to your gibbon 14 site, click on the Student Applications "online form".
2. Fill in any of the dates (e.g. date of birth) using the calendar widget
3. Note

[2017-09-19 05:41] rossdotparker commented on #348
Hi Samuel, the behaviour you are seeing is intended when the language is set to US English. This is not the default, but is it possible you have changed it in one of the following places:

- During installation
- In System Settings
- In Preferences for your account
- When logging in

Thanks : )

Ross

[2017-09-19 06:25] samuelflores commented on #348
Hi Ross,

Thanks very much for the fast reply. I am getting a good feeling about Gibbon. My initial instinct was to hack  it right out of the box, but actually it looks as though I am better of working with the existing release and making it work for me as a user first.

Regarding the fix -- awesome! Yes, that works.

I have a couple of requests:

I am running a summer school in Sweden for undergr

[2017-09-19 19:55] rossdotparker commented on #348
Samuel,

Thanks for your response, and welcome to the Gibbon community. We are
currently directly such enquiries to our support forums
<https://ask.gibbonedu.org>. Please start by searching the forum for
answers to these questions. If you cannot find the information you need,
post each question as a new forum thread, and we will answer the question
there. We prefer the forum, as it helps keep answ

[2017-10-07 17:01] bobkee opened #362 "Error after installation with sample data v14.0.01"
After signing in there is an error in the first page concerning the timetables. It says:
Notice: A non well formed numeric value encountered in C:\xampp\htdocs\Gibbon\modules\Timetable\moduleFunctions.php on line 842

I went to what I believe is line 842, it says:
 while ($time <= $timeEnd and $spinControl < (23 - substr($timeStart, 0, 5))) {

## Expected Behavior
to see the timetable data

## Act

[2017-10-10 00:24] rossdotparker commented on #362
Hi bobkee, we will take a look at this notice issue later on today and try to get it resolved. In the meantime, please note that PHP Notices represent minor coding issues, and are not errors in the sense that they do not have a negative impact on how the code runs. Our advice would be to adjust your PHP settings in order to not show notices (or errors) on screen to users. They can still be logged

[2017-10-11 13:34] rossdotparker commented on #362
Hi bobkee, I've had a look into this, and I cannot reproduce the issue. If you can add the following code above line 842, and email us the output it adds to your page, that would help us to narrow in on the issue:

echo $time.'<br>';
echo $timeEnd.'<br>';
echo $spinControl .'<br>';
echo $timeStart.'<br>';

Thanks,

Ross

[2017-10-22 11:11] jimbo8098 commented on #362
Hi @bobkee , I've just made a new installation from v14.0.01 and I didn't have any problems seeing the data. Here's some output for comparison to your XAMMP installation:

`root@nodejs-512mb-lon1-01:/var/www/gibbonv15# php -v
PHP 7.0.22-0ubuntu0.16.04.1 (cli) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.22-0u

[2017-11-17 04:16] luminkhant commented on #362
Change this line at Timetable/moduleFunction.php
         while ($time <= $timeEnd and $spinControl < (23 - substr($timeStart, 0, 5)))
to this
         while ($time <= $timeEnd and $spinControl < (23 - substr($timeStart, 0, 2)))
This is because the system want to sub timeStart (In HOUR)  by 23, but that system returning both hour and minutes.

[2017-11-18 02:36] bobkee commented on #362
thank you!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Fri, Nov 17, 2017 at 11:16 AM, Min khant lu <notifications@github.com>

[2017-11-20 00:30] SKuipers commented on #362
Thanks @luminkhant, well spotted! 😃 Would you be interested in submitting a pull request for your fix? Otherwise we'll be sure to apply your fix to v15.

[2017-11-23 03:04] luminkhant commented on #362
It's fine for me. you can apply that fix to v15 @SKuipers

[2017-11-27 13:32] rossdotparker commented on #362
Hello everyone, thanks for all of your contributions to identifying and fixing this issue. Sandra has created a PR to fix this one in v15, and it has now been merged into the codebase:

https://github.com/GibbonEdu/core/pull/419

Thanks again! Ross

[2017-11-27 13:32] #362 closed

[2018-02-13 00:10] SKuipers commented on #286
Hi CafSentryGnome,

I believe this has been resolved so I'm closing this issue. Be sure to give a shout on the support forums if you have any further questions.

Thanks!

[2018-02-13 00:10] #286 closed

[2018-02-13 00:12] SKuipers commented on #348
Hi samuelflores,

I believe this has been resolved so I'm closing this issue. Be sure to give a shout on the support forums <https://ask.gibbonedu.org> if you have any further questions.

Thanks!

[2018-02-13 00:12] #348 closed

[2018-02-13 00:16] SKuipers commented on #208
Hi kaustubhkabra,

I've added this issue to the Responsive Design milestone. Over the last couple versions we've pushed ahead with a lot of the refactoring work on the Gibbon core, including a nearly complete re-write of the html forms, and are optimistically aiming to start introducing responsive elements in v17.

Thanks!

[2018-02-20 12:38] samuelflores commented on #348
Dear Colleague or Student,

I would like to bring to your attention a course we will be running this
summer in Stockholm, which may interest you or Biology undergraduates in
your school. Please forward to any relevant persons or email lists.

In Synthetic Biotechnology (KB3004) you will learn all about engineering
bacteria to produce more and higher-quality protein -- skills that will
serve you we

[2018-03-08 07:09] yookoala opened #462 "Composer based archtechure"
For long term maintenance, have you ever consider to restructure Gibbon into a [composer](https://getcomposer.org/) based project? Since you've already been doing namespace autoloading, it should be easy to do [PSR-4 autoloading](https://www.php-fig.org/psr/psr-4/). Then you can better reuse libraries available on [Packagist](https://packagist.org/) in the future.

[2018-03-09 00:24] rossdotparker commented on #462
Hi yookoala, thanks for taking the time to stop by and chat. If you look at the code in the v16 branch you will see that we are making some moves in this direction. Our aim is that devs won't need to use composer in most cases, but the core team will make some use of it behind the scenes in order to manage packages. @SKuipers can tell you more, and she's leading the refactoring work we have going

[2018-03-09 16:42] yookoala commented on #462
It is a practical approach to have composer manage all the dependencies, then have a CI platform (e.g. Travis) to build a bundle for release. That way, you do not have to include the vendor folder into your repository.

I'd also suggest to use composer to handle modules installation, if possible.

[2018-03-09 16:49] yookoala commented on #462
As to modernize the code base, I can see a big chunk of work in separating HTML output from business logic.

You probably should extract all business logic from the root folder's scripts. Reorganize them with routers like [fastroute](https://github.com/nikic/FastRoute) and some controller classes. Then rewrite the HTML view code with template engine like [Twig](https://twig.symfony.com/).

After a

[2018-03-09 16:58] yookoala commented on #462
Sorry for length soup of verbose comments. Didn't mean to be rude.

Its nice to see HK based open source project. Stumbled upon this project by accident. I just wish this project well. I might as well send some PR to v16 if you don't mind :-)

[2018-03-09 19:19] crayner commented on #462
Ah, memories

------------------------------------------
I greet you with the great words,
Grace and Peace

Craig Rayner
craig@craigrayner.com
Phone: +61 2 6352 5571
Mobile: +61 456 560 018

On 10 March 2018 at 03:58, Koala Yeung <notifications@github.com> wrote:

[2018-03-10 01:24] rossdotparker commented on #462
Thanks for all the input yookoala. Your thinking is more or less aligned with the direction in which we are heading. It is just taking a lot of time to refactor a large, legacy codebase in a way that is not disruptive to the schools that already depend on Gibbon. In v15 we wrapped up an OO rewrite of almost all interface forms. In v16 we are finishing that work, moving on to data tables and also s

[2018-04-16 01:08] syzuhdi opened #480 "Parent Module"
Hi,
Does GibbonEdu has a module for Parent such as to view their childs grade?

Regards.

[2018-04-16 02:11] SKuipers commented on #480
Hi @syzuhdi

Yes, Gibbon has a parent dashboard where parents can see markbook grades, attendance, lesson plans, etc depending on the settings and permissions that have been enabled by the school admins. See the docs for more info: https://docs.gibbonedu.org/parents/  (the screenshots are a bit out of date but the gist is there).

Hope this helps!

[2018-04-16 03:08] syzuhdi commented on #480
Thank you @SKuipers

[2018-05-03 13:54] camachogfelipe opened #503 "Error in function isFileValidType"
## Expected Behavior

When system valid a File Type extension, return true

## Actual Behavior

When system valid a File Type extension, return false always

## Steps to Reproduce

1. Edit user
2. Select image user
3. Send form
4. Return image don't upload

## Your Environment

* Gibbon Version: 15.0.00
* Browser Name and version: All

The error was solved by changing line 323 to the following:
$e

[2018-05-04 00:15] SKuipers commented on #503
Hi Felipe. I've checked out the line you've mentioned and in v15 and earlier it appears to be the same as the code you've provided `$extension = mb_substr(mb_strrchr(strtolower($filename), '.'), 1);`

I wonder if this is maybe related to a similar issue that was fixed for v16: https://ask.gibbonedu.org/discussion/comment/4034#Comment_4034 Are there perhaps any `.` in your usernames? If so, please

[2018-05-18 17:09] order4adwriter opened #514 "Willing to Contribute Great Content for the Gibbon website Homepage"
Hi,

My name is Phil and I am a professional copywriter.

I'd like to contribute to the Gibbon  project by creating informative, intuitive, compelling and enticing content for the website homepage.
I have taken a look at the [Gibbon website Homepage](www.Gibbonedu.org) and from experience, I believe that the current ad copy needs to be rewritten and edited  to make it more inviting and visitor- fr

[2018-05-22 11:42] rossdotparker commented on #514
Hi Phil,

This sounds like an interesting offer. Please can you provide us with some examples of the other projects you mention having worked on?

Thanks,

Ross

[2018-05-27 04:44] rossdotparker commented on #514
Hi Phil,

Thanks for providing these examples, which look good. I've got too final questions, if you don't mind me asking, and then we can proceed:

1. What is your motivation for working on Gibbon? Your username makes it sound like you are selling copy writing services. I am curious as to the bigger picture here.
2. How much do you know about Gibbon and how it works? What we'd ideally like your h

[2018-05-27 19:14] order4adwriter commented on #514
Hi again Ross,

Yes I am a copywriter...but I am not looking to sell my services directly on this portal. But if you are interested feel the need to hire my services, I'd be happy to work something out with you...lol!

The truth is I  really take pride and pleasure in my copywriting work...and am simply looking for avenues to express my creativity and put my copywriting skills to good use here on

[2018-05-27 23:57] rossdotparker commented on #514
Hi Phil,

Thanks for taking the time to explain. It all makes sense, and so, welcome to the team : )

The first step would be to install Gibbon onto your local machine, with demo data included, so that you can play with it, learn how things work, take screenshots, etc. You'll find it is a big system with many features.

If you need help setting up a local web server stack, let us know what operati

[2018-05-27 23:58] rossdotparker commented on #514
PS, email your email address to support@gibbonedu.org and we'll invite you to the developers Slack channel. This is the easiest way for us to communicate and help you.

[2018-05-28 04:56] order4adwriter commented on #514
OK,,,

Thanks for the warm welcome.
looking forward to working with and communicating with you guys.

[2018-06-01 10:12] shemgp opened #549 "Allow use of PostgreSQL Database"
Hello, I like the use PostgreSQL in the software that I use, would you accept it if I make GibbonEdu run on PostgreSQL?  Looking at the code, I think most of the changes would just have to add double quotes in the camelCased names in SQL statements.

## Expected Behavior
PostgreSQL will be added as an option for using in GibbonEdu.

## Actual Behavior
Only MySQL is supported.

## Steps to Reproduc

[2018-06-04 13:07] shemgp commented on #549
There are:
[code]
SQL lines.  I think most of it would just require adding double quotes for PostgreSQL's case sensitivity. But it would require enabling sql_mode ANSI_QUOTES for mysql. Or would require converting backticks (`) to double quotes (") when running PostgreSQL.

According to this: https://evertpot.com/writing-sql-for-postgres-mysql-sqlite/ It might also require `SET SESSION sql_mode =

[2018-06-05 00:51] rossdotparker commented on #549
Hi Shem & Sandra,

Thanks for your work on this one. I think that this is, longer term, an
estimable goal. Certainly PHP's PDO, which we use across the system,
supports this. I'd say that once the refactoring is done, this is something
that would be worth approaching.

In the meantime, Shem, would you have any interest in getting involved in
the refactoring?

Thanks,

Ross

On Mon, Jun 4, 2018 at

[2018-07-08 05:31] Xhollo commented on #549
Please what is the admin login and password?

[2018-08-09 08:11] rossdotparker commented on #549
Hi Xhollo,

We are currently directing such enquiries to our support forums. Please start by searching the forum for answers to these questions. If you cannot find the information you need, post each question as a new forum thread, and we will answer the question there. We prefer the forum, as it helps keep answers public and accessible to other users.

If you can give us more information in your

[2018-08-25 10:51] onaforeignshore opened #600 "Softaculous demo 404"
Just reporting that the [Gibbon demo on Softaculous](https://www.softaculous.com/demos/Gibbon) returns error 404 - url not found

[2018-08-27 11:53] rossdotparker commented on #600
Hi, thanks for this. It is back up now, so I presume it was a temporary issue with the Softaculous server. Let us know if it happens again. Cheers : )

[2018-08-27 11:53] #600 closed

[2018-09-02 05:03] #480 closed

[2018-09-02 05:04] #462 closed

[2018-09-02 05:08] #503 closed

[2018-09-03 15:51] yookoala opened #608 "Code style: Separating display logic from business logic"
To put it simply, separate "what to display" from "how to display them" into different code chunks.

To truly fix #208, the framework need to have enough flexibility to easily do theming code without messing up the core programming logic. Then applying existing responsive framework (e.g. [Bootstrap](https://getbootstrap.com/)) should be easy. This will also give more flexibility for theming in the

[2018-09-03 23:49] crayner commented on #608
hear hear

[2018-09-03 23:58] rossdotparker commented on #608
Hi Koala, we hear you loud and clear! This is a process that is currently underway, as part of the refactoring work that @SKuipers is leading. In short, we are pulling at certain threads within the system (e.g. forms first, then tables, then themes) and rewritting each strand in an object-oriented style that also separates out logic into gateway classes. Sandra is currently working on a diagramati

[2018-09-04 13:21] onaforeignshore opened #610 "Website - Correction"
On [this page](https://docs.gibbonedu.org/administrators/getting-started/installing-gibbon/google-oauth/), there is an "s" missing in the URL - intall vs install:

[2018-09-04 13:46] SKuipers commented on #610
Hi Christo,

Awesome, thanks for the corrections! The docs are open source, any interest in submitting the changes through GitHub? There's an edit link in the [top-right of each page](https://github.com/GibbonEdu/docs/edit/master/content/administrators/getting-started/installing-gibbon/authenticating-with-google-oauth.md) Each page can be edited in markdown and submitted as a GitHub pull-request.

[2018-09-05 00:35] SKuipers commented on #610
Awesome, thanks! All PRs merged.

[2018-09-06 17:55] yookoala opened #615 "Variables $themeCJS declared and not used."
There are only 2 occurrence of a the variable `$themeCJS`:
* [fullscreen.php](https://github.com/GibbonEdu/core/blob/ca259435be1a8de70d7340b9f643315122f4e819/fullscreen.php#L70)
* [report.php](https://github.com/GibbonEdu/core/blob/ca259435be1a8de70d7340b9f643315122f4e819/report.php#L67)

Are they obsoleted? Are they supposed to be `echo` after `$themeJS`? Or are they typo of `$themeJS`?

## Your

[2018-09-13 14:24] yookoala opened #620 "Unnecessary complicated include paths in module"
A number of files of `modules` are including `moduleFunctions.php` with path built with `$_SESSION[$guid]`. In the form of such as:

[code]

They can be easily rewritten with `__DIR__` [magic constant](http://php.net/manual/en/language.constants.predefined.php). Such as:

[code]

And since function files are only suppose to be included once, and it should be essential to the module operation. So `

[2018-09-14 05:44] SKuipers commented on #615
Thanks for the fix! PR is merged 👍

[2018-09-14 05:44] #615 closed

[2018-09-14 05:49] SKuipers commented on #610
Thanks again! Feel free to submit any other corrections you come across :)

[2018-09-14 05:49] #610 closed

[2018-09-14 07:54] #620 closed

[2018-09-26 13:18] vktec opened #637 "User sync fails with truncated usernames"
## Expected Behavior
When importing a CSV with sync mode, all existing users, including those whose usernames have been truncated to fit the database fields, should be updated.

## Actual Behavior
Any users in the CSV whose existing usernames have been truncated to fit the field length cause an error. I suspect this is because Gibbon compares the usernames, does not find a match, and proceeds to `

[2018-09-27 02:42] SKuipers commented on #637
Hi vktec,

Thanks for bringing this to our attention! Taking a look at the script, it does appear that the behaviour you're seeing is unintentional. One way to fix it (without changing any code) may be to use a spreadsheet tool to edit & truncate the usernames yourself before import.

I think for a long-term fix, rather than re-writing that script, our plan is to start phasing out those import scr

[2018-10-17 04:40] #637 closed

[2018-10-26 03:39] yookoala opened #670 "Poor debug message when error occurs"
If you're a developer who wants to help this project, eventually you'd encounter some error. And right now, you'll only be seeing this:

![2018-10-26 11-26-50](https://user-images.githubusercontent.com/91274/47542892-18972f00-d912-11e8-963d-0dd53b180bdd.png)

You'll have hard time getting the error stacktrace. And that is a painful process.

PHP frameworks like Slim, Laravel and CakePHP usually of

[2018-10-26 03:46] SKuipers commented on #670
Hi Koala,

We recently tackled some of the error handling in Gibbon v17. I think perhaps check your System Settings to ensure it's set to Development or Testing. Also, your php.ini should have `error_reporting` enabled, ideally with `E_ALL`, and `display_errors 1`. It's not quire as full-featured as a third-party library, but it's lightweignt and certainly has stack traces.

Hope this helps! Feel

[2018-10-26 04:18] yookoala opened #671 "System Admin: error due to outdated SQL schema for installation"
Opening "System Admin" > "i18n_manage.php" will result in SQL error that crashes Gibbon.

The query in question:

[code]

The error:
[code]

According to the [gibbon.sql](https://github.com/GibbonEdu/core/blob/ca259435be1a8de70d7340b9f643315122f4e819/gibbon.sql#L1906-L1920):

[code]

there is no `version` field in it. Hence the error.

## Expected Behavior
Showing the i18n management interface.

#

[2018-10-26 04:57] yookoala commented on #671
Turns out the version check failed in my developer environment installation thus my installation failed to realize that it is a "cutting edge" version. In that case, "CHANGEDB.php" wouldn't run at all.

By fixing my installation process, the database schema is fixed.

I'd consider this an user issue and close it.

[2018-10-26 04:57] #671 closed

[2018-10-26 05:51] jzblbd commented on #287
Using OS: MacOS Mojave

Question:
Where is this ../config.php located? In the linux box or on the Mac? If in Linux, what is the full path

I installed XAMPP and downloaded the Gibbon core v16.0.01. Was also able to:
- start XAMPP with given address 192.168.64.3
- successfully started all 3 services ProFTPD, Apache, MySQL
- Network localhost:8080 -> 80 (Over SSH) enabled
- Network localhost:8443 ->

[2018-10-28 13:28] rossdotparker commented on #287
Hi jzblbd, you'll find config.php in your gibbon root folder, so that would be http://192.168.64.3/gibbon/ for you. The presence of this file is used as a flag that the system is installed, so when you first load Gibbon (prior to installation), the file is not there and it redirects to the installer. The installer creates this file using the database inputs you enter.

Do you see config.php in you

[2018-10-29 00:17] #670 closed

[2018-11-05 08:25] yookoala opened #691 "Composer based library management"
**Refactor**

## Description

This issue is supposed to be for tracking a few upcoming PRs that aims to solve the same problem.

Composer provides easier to track version control and locking mechanism for modern PHP libraries. It also come with an automatically generated autoloader for any OOP style libraries. It encourage and assist the use of PSR-4 compliant libraries. Switching to autoloader ba

[2018-11-07 04:54] SKuipers opened #696 "Reafactoring Breadcrumbs"
We've updated the breadcrumbs in Gibbon and there's a lot of pages to refactor. Here's some info if you'd like to help out:

👀 [Check out the instructions](https://gist.github.com/SKuipers/b1dd461f5246f257582072596efe8744)

👇  Pick a module that hasn't been started yet

:speech_balloon:  Reply here to let us know which module you're working on, so we don't overlap!

:octocat: [PR your changes](htt

[2018-11-07 06:44] yookoala commented on #696
I'm working on the Attendance module.

[2018-11-07 10:51] rossdotparker commented on #696
This is a great way to organise the refactoring work @SKuipers : ) I'll aim to merge the work of @leofreitas and @yookoala this evening. Ciao!

[2018-11-07 12:12] yookoala commented on #696
I'm going to work on these (if nobody else has already start working on):
* [ ] Library
* [ ] Markbook
* [ ] Messenger
* [ ] Planner
* [ ] Roll Groups

[2018-11-08 07:08] SKuipers commented on #696
Added a new note to the instructions:
- Delete actions are handled with a modal window, so the breadcrumbs for these can be removed rather than refactored

[2018-11-12 16:23] leofreitas commented on #696
I would start the module Behaviour

[2018-11-13 16:03] leofreitas commented on #696
I started the module Crowd Assessment

[2018-11-16 04:39] yookoala commented on #696
I'm going to work on these (if nobody else has already start working on):
* [ ] Rubrics
* [ ] School Admin
* [ ] Staff
* [ ] Students
* [ ] System Admin

[2018-11-16 05:17] SKuipers commented on #691
Just merged the last of these changes into the core 🎉 Thanks!!

[2018-11-16 05:17] #691 closed

[2018-11-16 16:09] leofreitas commented on #696
Now, I started - Data Updater

[2018-11-16 18:22] leofreitas commented on #696
The next module is Departments

[2018-11-19 07:51] SKuipers commented on #696
Over half way 🎉 😃

[2018-11-21 14:07] yookoala commented on #696
I'm going to work on these (if nobody else has already start working on):
- [ ] Timetable
- [ ] Timetable Admin
- [ ] Tracking

[2018-11-28 10:47] yookoala commented on #696
I'm going to work on these (if nobody else has already start working on):
- [ ] Formal Assessment
- [ ] Individual Needs

[2018-11-29 01:05] SKuipers commented on #696
Wow, awesome!! All of the breadcrumbs in the core are now refactored 😃

[2018-11-29 02:08] SKuipers commented on #696
Updated the list to add the additional modules. The list includes a link to each repo, so for these there's one additional step to fork that repo and submit PRs to the module repo rather than the core.

I'll start on these:
- [ ] Data Admin
- [ ] House Points
- [ ] Query Builder

[2018-11-29 05:43] yookoala commented on #696
### Note

1. [ATL](https://github.com/GibbonEdu/module-ATL) is not currently listed in [Open Source Modules](https://gibbonedu.org/extend/) in Gibbon site. Should it be added?
2. [Trip Planner](https://github.com/raynichc/Trip-Planner), although a 3rd party module, is also not listed. Should it be added?
3. [Feed](https://gibbonedu.org/extend/) is not listed here, but it has breadcrumb in its `fee

[2018-11-29 05:49] yookoala commented on #696
I'm going to work on these (if nobody else has already start working on):

- [ ] Alumni
- [ ] ATL
- [ ] Badges
- [ ] Credentials

[2018-11-29 07:50] rossdotparker commented on #696
@yookoala I've added ATL to the Extend page (in hindsight, perhaps it is useful to other schools). For Trip Planner, that module is by @raynichc who did not feel it was ready for release last time we spoke. I'll add Feed to the list now, well spotted!

[2018-11-29 23:57] rossdotparker commented on #696
This module is a little different, as there are no actions in the main menu. This page is simply there so it can be loaded in the dashboard, which is the only interface for the module.

[2018-12-19 03:29] jian118 opened #765 ""First Aider" showing current user name when editing"
When editing first aid record, the "First Aider" shows logged in user instead of recorded data

## Expected Behavior
First Aider should show who provided the first aid

## Actual Behavior
First Aider now showing logged in user

## Steps to Reproduce
1.People
2.First Aid
3.Under first aid records, press the edit button

## Your Environment
* Gibbon Version: v16.0.01
* Browser Name and version: Chro

[2018-12-19 05:58] SKuipers commented on #765
Thanks @jian118, well caught! I've created a fix for v17 (releasing Jan 20, 2019), but the change can be incorporated back into v16 if needed, just make the same highlighted change to the code in `firstAidRecord_edit.php` from this commit: https://github.com/GibbonEdu/core/commit/2ea7c8e26f935d2f051f4660424ecffea5939f5f

[2019-01-13 01:30] robacarr opened #769 "v17 Date Picker Inconsistency"
I am demoing Gibbon 17.  The date picker format and required format for the Term creation form do not match.  en_us is the default language for my installation.  This appears to be similar to (but opposite of) the issue reported in #348.

## Expected Behavior
It should fill in the date in format mm/dd/yyyy

## Actual Behavior
Calendar widget fills in date as dd/mm/yyyy

## Steps to Reproduce
![cal

[2019-01-13 22:43] crayner commented on #769
Hi robacarr,
Had a look at this issue for you and have found the cause, being the lack of the Gibbon implementation of DatePicker to correctly format the date for en-US as the correct definition file for en-US is not required as it is the default for datepicker, but the default for Gibbon is en-GB, the true form of English. (Sorry, could not help myself.)   I have created a pull request for this r

[2019-01-14 00:55] robacarr commented on #769
Wow Craig, that was fast!  I'll keep an eye on the pull request and act accordingly.

Thanks for trying to help accommodate those of us who speak Western slang.

Rob

[2019-01-14 01:03] SKuipers commented on #769
Hi Rob,

I've merged this in. Luckily there is only one file changed for this fix, so if you update your `index.php` to match the version now in v17 you should see the datepicker working correctly. https://github.com/GibbonEdu/core/pull/770/files

Thanks!

[2019-01-14 01:16] SKuipers commented on #765
This bug has been fixed in the upcoming v17, so I'm closing the issue. Be sure to let us know if you spot anything else, thanks!

[2019-01-14 01:16] #765 closed

[2019-01-14 01:17] robacarr commented on #769
Again, what speed!

I have incorporated the update into my local install and have confirmed desired behavior.

![pasted graphic 4](https://user-images.githubusercontent.com/46637715/51093276-a93e1800-1767-11e9-9421-5031c4dc9270.png)

Thank you both!

Rob

[2019-01-14 01:17] #769 closed

[2019-01-21 02:53] crayner commented on #208
At the moment it an API written in Symfony 4.x with a REACT front-end.  I have started by targeting a couple of tasks that are used in a classroom, so at the moment a simple display of the calendar for today, attendance management for teachers,  Display Notifications and Messages, but not likes.

Plans, should this get traction, would be to move towards students seeing both calendar and due tasks,

[2019-01-21 03:39] kaustubhkabra commented on #208
Hi everyone on the thread, this would be super helpful! Excited to see this being taken up.

[2019-01-21 03:56] SKuipers commented on #208
Hi all! The Gibbon core team have been hard at work refactoring the codebase the past several versions to prep it for responsive themes. The world is full of a variety of opinions, approaches and ideas on how to tackle a problem: one person's "near impossible" is another person's idea of a worthy challenge 😃

[2019-01-21 04:00] danfelbm commented on #208
Yes! I just saw that... The whole new 'templates' folder inside resources, right? I don't think that was there before

That looks amazing... Great work!

[2019-01-29 09:03] jian118 opened #782 "Markbook column title showing term's name when term filtering is applied"
In Markbook page, if term is selected, the title of each markbook column is showing Term name instead of the markbook column name.

Simple Fix:
In src\Domain\Markbook\MarkbookColumnGateway.php Line 47 change to the following
`->cols(['*','gibbonMarkbookColumn.name as name'])`

Problem seems to be caused by the same `name` used in the database for gibbonSchoolYearTerm and gibbonMarkbookColumn where

[2019-01-30 15:08] lAlejo opened #784 "Installation error"
Hello, I just downloaded the last gibbon update from the oficial site. I uploaded all the files to my server and when I try to run the wizard I get this error.

Parse error: syntax error, unexpected '?' in /src/Services/CoreServiceProvider.php on line 174

[2019-01-31 13:49] leofreitas commented on #696
Hi devs,
Module MeetTheTeacher - refactored breadcrumbs!

[2019-02-01 03:08] SKuipers commented on #782
Aha, well caught! Missed that one during testing 😅  I've applied your fix to the v18 branch: https://github.com/GibbonEdu/core/commit/0677534dd1d018c4065bc625a24097d3eb5e2111

Thanks @jian118!

[2019-02-01 03:09] #782 closed

[2019-02-11 03:26] jian118 opened #790 "Markbook Column Ordering is not working properly"
Markbook column order is messed up since minSequenceNumber is always 0.

In modules/Markbook/src/MarkbookView.php
Line 61 change to
[code]

Line 334 add
[code]
Line 325-328 remove as it's checking empty $this->columns

 -----

Another issue is that when term filtering is applied, the sequenceNumber gets overwritten by the term table.
In src\Domain\Markbook\MarkbookColumnGateway.php Line 47 change

[2019-02-11 03:41] jian118 commented on #790
SQL to reset ordering by class.
[code]

[2019-02-12 17:24] leofreitas commented on #696
Hi,
Module Badges - refactored breadcrumbs!

[2019-02-12 23:42] rossdotparker commented on #696
@leofreitas I've checked it off the list.

[2019-02-14 07:18] SKuipers commented on #790
Hi @jian118

It looks like you've put together some great fixes. When you say the column order is messed up, are you able to share more info or screenshots on how to reproduce that? I've checked with existing installs as well as a fresh install and the column ordering (default and drag-drop) appears to be working as expected 🤔

[2019-02-14 07:21] jian118 commented on #790
It only happen when you exceed one page which is more than 25 columns

[2019-02-20 01:09] jian118 commented on #790
hi @SKuipers

Below is the screen capture.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8830491/53058623-c4324380-34ee-11e9-9032-42d89b055b5e.gif)

1. go to 2nd page
2. click on sorting tab
3. refresh page
4. go back to first page

The sequence was initially test1, 2....25. Now its 1,26,2,27,3,28,4,29

[2019-02-20 05:47] SKuipers commented on #790
Aha, thanks for this, I can reproduce it now too 👍  Are you interested in putting your fixes together as a [pull request](https://github.com/GibbonEdu/core/blob/master/docs/CONTRIBUTING.md#how-to-submit-a-pull-request) for our development branch v18? I think the reset button may be a good way to go (vs the database call, which would change all the orders regardless of if they got messed up). Other

[2019-02-20 06:08] crayner commented on #208
Announcing the pre-release of a Mobile version for Gibbon.  http://gibhelp.craigrayner.com  This only does Attendance at the moment, but I am sure that development suggestions will soon follow.

[2019-02-22 04:13] SKuipers commented on #784
Hi @lAlejo I'm closing this issue, in hopes that you've found a solution by now. If not be sure to check out our support forums at https://ask.gibbonedu.org

[2019-02-22 04:13] #784 closed

[2019-02-22 12:32] lAlejo commented on #784
Hello. Thanks.

I found the solution. It was the PHP version.

Sorry for not notify.
--
[image: Facebook] <https://www.facebook.com/techingrd/>
[image: Instagram] <https://www.instagram.com/techingrd/>
[image: Telegram] <https://t.me/lorenzoalejo>
[image: E-Mail] <lorenzo.alejo@gmail.com>
[image: Web Site] <https://do.linkedin.com/in/lorenzoalejo>

Lorenzo Alejo
Teching RD
(829) 546 4250
[image: L

[2019-02-27 07:58] yookoala opened #802 "Empty translation string in source code"
**Describe the bug**

Scanning source code with `xgettext`. Found translation function call `__()` with empty string `""` as input. This should not happen. Calling `gettext("")` will return the header information of a PO file, which might be unexpected for the use case.

Location:
[Line 149, `modules/User Admin/applicationFormSettings.php`](https://github.com/GibbonEdu/core/blob/467f5099330825af47

[2019-02-27 08:14] SKuipers commented on #802
Aha, well caught! I've pushed a fix: https://github.com/GibbonEdu/core/commit/29eb13fc718aff0d1bbb244ad3d7be241fa9bb59

[2019-03-01 04:03] #802 closed

[2019-03-02 02:51] SKuipers opened #805 "A case for Tailwind CSS"
Hi folks!

As we work towards a goal of responsive design in Gibbon, I’m increasingly leaning towards Tailwind over Bootstrap for our chosen css framework.

Personally I’ve used Bootstrap, Foundation and Tailwind for several past projects, and lately find myself consistently choosing Tailwind for new projects. Beyond just personal preference, I’ve put together some thoughts here to share why I thi

[2019-03-02 11:50] rossdotparker commented on #805
Hi Sandra, thanks for investing so much time and thought in this proposal. To me semantic CSS makes a lot of sense, and given the way that Tailwind allowed you to rapidly build the new Gibbon website, which is fully mobile responsive, I'm inclined to think that Tailwind is an interesting route to look into.

I what some of our other dev friends, who are definitely more contemporary in their approa

[2019-03-02 21:18] leofreitas commented on #805
Hi Sandra, excellent work! I have been working with Bootstrap and Foundation, but now I'm curious for experience the Tailwind.
It seems very interesting. I'm read about it.

[2019-03-04 02:56] yookoala commented on #805
I've been working with Bootstrap for so long that I really got used to the routine. So I'm a bit skeptical in this. But I'm willing to try and learn.

[2019-03-04 04:55] SKuipers commented on #805
Thanks for the feedback! I think that's a fair response, and I realize Tailwind is the lesser-known of the available options 😄 Bootstrap is a great framework, I think of it like a Swiss Army knife: it's familiar and multi-purpose, developers keep it in their back-pocket and reach for it to solve a variety of UI tasks. In considering Tailwind, it has a lot of similarities, and yet it's a bit differ

[2019-03-06 03:46] yookoala commented on #696
[Help Desk](https://github.com/raynichc/helpdesk) module seems to be inactive since Apr 2018...

[2019-03-06 03:51] raynichc commented on #696
The Help Desk and Trip Planner have both temporarily been put on hold until I am able to get adjusted to University. But I intend to rebuild the Help Desk from the ground up, starting hopefully sometime this month or the next. If there are any major issues with either I can look into them, but any help would be appreciated.

Thanks,
Ray

[2019-03-06 03:59] yookoala commented on #696
Thanks @raynichc!

[2019-03-06 04:24] yookoala commented on #696
I'm going to work on these (if nobody else has already start working on):

- [ ] Higher Education
- [ ] Info Grid
- [ ] Trip Planner

[2019-03-06 05:14] SKuipers commented on #696
Thanks Koala! I've updated the checklist 👍

Hi Ray, thanks for the followup! Hope you're having a great time at university 😃

[2019-03-06 05:31] rossdotparker commented on #696
Hi Ray, nice to see you here. Hope all is well, looking forward to seeing
your OOified modules. There's a hackathon coming up if you want to
participate online: details coming out soon via Slack. Let's meet up when
you are next back : )

On Wed, Mar 6, 2019 at 1:14 PM Sandra Kuipers <notifications@github.com>
wrote:

--
*Husband, father, son, brother, friend, coder, teacher & technology
director.*

[2019-03-10 16:54] leofreitas commented on #696
I'm working in modules Policies (refatoring breadcrumbs and OOified)

[2019-03-13 07:10] itcdsc commented on #784
I have the same issue. I'm running PHP72 but the error still persists while installation.

[2019-03-13 13:28] rossdotparker commented on #784
@itcdsc how are you checking your PHP version? If you check on the command line, you sometimes get a different version than that being used by your web server. Are you able to use phpinfo() to confirm the webserver's version of PHP? Thanks!

[2019-03-18 17:41] leofreitas commented on #696
Hi @SKuipers adn @rossdotparker,
Please update the list. The module Badges - refactored breadcrumbs!

[2019-03-21 09:04] rossdotparker commented on #696
It looks like this has now been done. Thanks for keeping us on track!

On Tue, Mar 19, 2019 at 1:41 AM Leonardo Freitas da Silva Pereira <
notifications@github.com> wrote:

--
*Husband, father, son, brother, friend, coder, teacher & technology
director.*
Blog .  http://rossparker.org
Tweets . @rossdotparker <https://twitter.com/rossdotparker>
Open Source .  http://gibbonedu.org
--

[2019-03-26 05:46] SKuipers commented on #790
Thanks again for your fix! Looks like this is resolved and working well, I'm going to close the issue. Feel free to put in any more issues or PRs if you spot other bugs.

[2019-03-26 05:46] #790 closed

[2019-03-26 07:51] SKuipers opened #820 "Reafactoring Forms"
Hello! A few versions ago we started the form ooification process: updating all the HTML forms in Gibbon to use a set of PHP classes, for re-usability and maintainability. As we are getting closer to our mobile-responsive goal in v18, there are only a few forms left!
&nbsp;
## Info
If you'd like to help out, this is a great place to start:

👀 [Check out the cheat sheet](https://gist.github.com/SKu

[2019-03-26 08:08] SKuipers opened #821 "Refactoring Tables"
Along with our ongoing refactoring, we've been updating the HTML tables in Gibbon to use a set of PHP classes. This gives us the flexibility to add in better pagination, filtering and sorting, as well as make them mobile-responsive (soon!).

Table OOification is likely the most complicated refactoring so-far. For beginners, see #696 and #820 for a great starting point. Otherwise, give a shout with

[2019-03-26 08:43] rossdotparker commented on #820
So close on this one, the first of the big Gibbon "threads" we've been working to pull out and update. I'll try and look at Free Learning in the coming weeks, unless someone beats me to it!

[2019-03-26 08:46] rossdotparker commented on #821
Great work here Sandra. Hopefully this proves as well attendance as the breadcrumbs work: certainly this model of openly and clearly sharing the scope of the work and requesting  input, seems like a great way to go. Is it worth adding a link to the list of core tables that we are working on too?

[2019-03-26 08:57] SKuipers commented on #821
Yep! Many of the core tables have varying difficulties from “seems okay” to “absolutely ridiculous” 😆 so I’m going to take a look and triage them a bit more before adding to the list.

[2019-03-29 01:14] powertashton commented on #820
Will give the remainder of the Higher Education forms a look over the weekend, at first glance seems there's a few big ones but should be manageable.

[2019-03-29 01:21] SKuipers commented on #820
Great! I've sent an invite to the ooification tracker, which has some more fine-grained progress for each module. Check the Additional Modules tab for the Higher Education module, and feel free to add the progress you've made on the IB module to the list. Thanks!

[2019-04-02 19:50] leofreitas commented on #696
Hi, I refatored breadcrumbs in module Policies (https://github.com/GibbonEdu/module-policies/pull/3)

[2019-04-02 19:56] leofreitas commented on #821
Hi, I made my first Table OOification in module Policies (GibbonEdu/module-policies#3).

[2019-04-03 04:12] SKuipers commented on #821
Awesome, thanks Leo! I'm going to check it out this afternoon 👍

[2019-04-09 07:51] SKuipers commented on #208
Hi everyone! I’m excited to announce Gibbon v18, releasing June 20th, will be fully mobile responsive 📱🎉 This will be a milestone release for us, building on the past several versions of refactoring work in the Gibbon core.

When we started down the road to refactoring, our aim was to incrementally update the entire codebase, rather than focusing on one or two mobile features. This decision was ma

[2019-04-09 07:51] #208 closed

[2019-04-09 08:05] SKuipers commented on #608
Many thanks Koala for your work to kick off the refactoring for Gibbon templates. These changes are now well underway in the core, I'm closing this issue and looking forward to where the codebase goes from here 👍

[2019-04-09 08:05] #608 closed

[2019-04-09 08:17] rossdotparker commented on #208
Sandra, it's a thing of beauty! I've not been as excited about a release of Gibbon since v8.0.00 (Linguist). I'm practically brachiating! Thanks for all of your hard work : )

[2019-04-21 09:15] SKuipers commented on #696
Hi @powertashton I've added IB Diploma to the list, looks like it's the last additional module needing its breadcrumbs refactored. Interested in tackling them? They're much easier than forms 😁

[2019-04-22 14:53] jimbo8098 commented on #696
Ah, this looks not too bad. I'll grab IB Diploma

[2019-04-22 14:55] powertashton commented on #696
@jimbo8098 I've actually just started on them, and am almost done. Will be making a pull request in a few. Forgot to comment earlier when I started 😳

[2019-04-22 15:54] jimbo8098 commented on #696
I see that now haha nice work.

[2019-04-23 05:51] SKuipers commented on #696
Wow!!! 😃 Thanks everyone for your hard work on these, we've now completed all the breadcrumb refactoring 🎉 🍰

![JS51011859](https://user-images.githubusercontent.com/897700/56557675-98a30680-65ce-11e9-81f5-ef025441dc62.jpg)

[2019-04-23 05:51] #696 closed

[2019-04-23 06:07] rossdotparker commented on #696
Now there's a happy looking Gibbon. This achievement is a testament to the growing number of wonderful code contributors we have. A year ago this kind of collaboration was simply not possible on this project. Thank you so much everyone : )

[2019-05-14 09:49] jimbo8098 commented on #820
I'll grab badges if no one's got it!

[2019-05-14 10:09] rossdotparker commented on #820
Hi Jim, thanks! I've just checked, and it is mostly done, but a couple filter forms left to do. Want to get stuck in?

[2019-05-14 15:29] jimbo8098 commented on #820
On it!

[2019-05-15 16:19] jimbo8098 commented on #820
Nearing completion now, I think I've finished all the forms but I noticed the session handling is still done through direct $_SESSION changes. I'm refactoring those while I'm working on that so these are all using the new method. Shouldn't take too long, half-done already and I've only been doing it for around 1 hour.

[2019-05-16 12:09] jimbo8098 commented on #820
Finished!

[2019-05-16 12:13] jimbo8098 commented on #821
I'm gonna steal badges if you guys are ok with that?

[2019-05-16 14:01] rossdotparker commented on #820
Nice! Feel free to jump into Free Learning next if you like. There are some simple forms in there you can get started with, and I could then look into the Manage Units forms, as these are similar to Planner, which I've just done.

[2019-05-16 14:02] rossdotparker commented on #821
Jump right in @jimbo8098!

[2019-05-17 07:54] jimbo8098 commented on #821
On it! You guys really *have* been busy!

[2019-05-17 07:55] jimbo8098 commented on #820
I'm working on tables for the moment instead. Might as well convert the whole module rather than having it half and half. Unless you guys have a deadline you want to meet on Form OO of course?

[2019-05-17 09:29] SKuipers commented on #820
Awesome! For big modules like Free Learning, feel free to PR your ooification in smaller chunks, so we can give feedback as you go, and to save our sanity a bit when reviewing the code 😁

We _do_ have a deadline just around the corner, which is the v18 string freeze on May 20th 😅  We're hoping to get all the remaining form ooification for the core done for v18, so that's our current focus. If you

[2019-05-20 10:18] jimbo8098 opened #886 "[v18] Windows: Login Session Handling"
I've spotted a weird, reproducable, bug with Windows IIS using file-based PHP session handling during login. When you try to log in on Windows, the login.php file sets your header() to index.php, as expected, however am incorrect session is used. Here are the headers for a server running Windows (localhost in this case):

![image](https://user-images.githubusercontent.com/12417556/58013824-60201b0

[2019-05-20 10:26] jimbo8098 commented on #886
The difference following Linux login is that the PHPSESSID cookie is sent to the server in the request. This is not sent prior to Linux login.

[2019-05-22 08:12] jimbo8098 commented on #821
Badges has been completed as of yesterday fyi. A PR is awaiting approval for it atm.

[2019-05-22 08:25] jimbo8098 commented on #886
Something between fabb9666dd58839b06d18a5892b3accaa53111ce and c520e605101fe7d1b083a64a52fabf4379c071e0 appears to have fixed it. Interesting!

[2019-05-22 10:19] jimbo8098 commented on #821
Working on Info Grid now

[2019-05-22 13:16] SKuipers commented on #821
Awesome, thanks!

[2019-05-23 16:24] jimbo8098 commented on #821
Finished info grid https://github.com/GibbonEdu/module-infoGrid/pull/6

[2019-05-23 16:25] jimbo8098 commented on #821
Gonna grab house points next.

[2019-06-18 20:43] pavanpawar4591 opened #902 "Not able to send sms for trigger Attendance Status"
Be sure to check out the How to report a bug section in our contributor docs if you haven't already.
https://github.com/GibbonEdu/core/blob/master/docs/CONTRIBUTING.md#how-to-report-a-bug
Then, edit this template to tell us about the issue. Thanks!

**Describe the bug**
i am try to send sms for trigger "Attendance Status" but parents list is not able to see there is bug in code. email code is used

[2019-06-19 01:22] SKuipers commented on #902
Hi Pavan,

Thanks for catching this and including the suggested fix 😃 Are you interested in submitting a PR to contribute your fix to the core? If so let me know & give a shout with any questions, otherwise we'd be happy to include your fix in the next version.

Thanks!

[2019-06-19 02:09] pavanpawar4591 commented on #902
i will raise PR . please guide me.

[2019-06-19 06:58] pavanpawar4591 commented on #902
Raised PR. Please check

[2019-07-19 08:16] pavanpawar4591 commented on #902
Need to raise PR for V 19 ?

[2019-07-19 19:29] SKuipers commented on #902
Hi Pavan! Oops, sorry about the wait 😬 your PR came in right as we were releasing v18, and shortly afterwards we headed off for summer break. I've updated the base branch for your PR to v19, no need to submit a new one.

I've added a small comment to your PR to make a change, otherwise your fix looks good 👍  once we merge it in to v19 you'll be able to copy your changed back to your v18 install.

[2019-09-04 07:39] SKuipers commented on #902
Hi @pavanpawar4591, I've merged your fix into v19. Thanks!

[2019-09-04 07:39] #902 closed

[2019-09-05 12:17] pavanpawar4591 commented on #902
Thank you @SKuipers .

[2019-09-26 10:29] jimbo8098 commented on #821
Must admit, kind of left this be after my last post due to other projects, however going to work on House Points today. Long time coming!

[2019-09-27 04:11] SKuipers commented on #821
Awesome 😃 There were some unreleased changed on the House Points develop branch, so I've noted these in the changelog and pushed a v1.3.02 release. https://github.com/SKuipers/gibbon-house-points

[2019-09-27 21:14] leofreitas commented on #821
I'm finishing Credentials. PR in next week!

[2019-09-28 03:05] SKuipers commented on #821
Brilliant, thanks!!

[2019-10-14 16:00] jimbo8098 commented on #820
I know this is a really old project item but I found some AJAX forms on the House Points module which I'm OOifying as part of the Table OOification. This modules basically been rewritten from the ground up using Domains, OO stuff and the new $gibbon variable instead of the $_SESSION data which _should _ be more reliable.

This PR's been nearly a year in the making so it will hopefully make a well-

[2019-10-14 16:00] jimbo8098 commented on #820
Also, does the Free Learning module require the same? Should be fairly trivial on that one too if so.

[2019-10-14 16:22] jimbo8098 commented on #886
I need to get a chance to re-test this but alas my Windows install is gone. My old PR was unfortunately pretty garbled due to my dev build at the time but I will keep it alive on my fork for the moment pending futher tests. At the moment, it's just too out of date to be useful.

[2019-10-14 16:22] #886 closed

[2019-10-15 00:30] SKuipers commented on #820
Hi Jim, sounds great!! 😃  I just noticed a `jimbo8098/module-housepoints` branch on your core fork and wondered if you were aware of the [House Points repo](https://github.com/SKuipers/gibbon-house-points). I'd [mentioned it here](https://github.com/GibbonEdu/core/issues/821#issuecomment-535778064), which you may not have noticed, buy hopefully it will help cut down on any duplicate effort.

[2019-10-15 06:58] jimbo8098 commented on #820
Ah, thanks for the heads-up. I'll take a look later. Your architecture's
likely better. Any quick clues to the progress of that?

On Tue, Oct 15, 2019, 1:30 AM Sandra Kuipers <notifications@github.com>
wrote:

[2019-11-12 11:19] radelphe opened #958 "browseBGImage field is limited to 6 chars"
**Description**

browseBGImage field in **Manage Library Settings** is limited to 6 chars.

**To Reproduce**

1. Go to 'Home > School Admin > Manage Library Settings'.
2. Enter text in 'Browse Library BG Image' field.

Problem: Maxlength is 6 chars.

**Expected behavior**

According to its description, that field is to enter "URL to background image used behind library browsing screen." So I expec

[2019-11-12 12:19] rossdotparker commented on #958
Hi radelphe, thanks for reporting this issue to us. Using your very detailed instructions, I've recreated the issue, and resolved it. You can see the fix in the commit below:

https://github.com/GibbonEdu/core/commit/d60431ab9aeede2d1a428efbb3ba421a08c847cb

This is in out v19.0.00 branch, but you can replicate the change in your v18.0.01 stall, and the issue should be sorted. It is a rather simpl

[2019-11-12 12:19] #958 closed

[2019-11-13 10:24] shaminmv opened #960 "Cannot connect to database."
I am trying to host gibbon on my vps Debian w MariaDB

Everything is working except that I am getting an error while trying to connect DB. I can login to mysq on vps with the credentials but it is not working with the installation.

![image](https://user-images.githubusercontent.com/41247468/68755018-ee95d500-0618-11ea-910d-032d5436d430.png)

[2019-11-13 10:35] jimbo8098 commented on #960
Check that you have the MySQL and PDO modules installed on PHP otherwise
it'll fail to connect. A full list of modules can be found in the getting
started page for administrators on the Gibbon site. Make sure you've got
them all.

If you do, log into the web server via ssh and connect using that specific
username and password, i.e. mysql -u<user> -p <address>

On Wed, Nov 13, 2019, 10:24 AM shamin

[2019-11-13 10:43] shaminmv commented on #960
![image](https://user-images.githubusercontent.com/41247468/68756490-433a4f80-061b-11ea-8eaf-1dfab65b8740.png)

![image](https://user-images.githubusercontent.com/41247468/68756618-741a8480-061b-11ea-864c-8e2e44279f4c.png)

All modules installed and can ssh and mysql. File permissions set at chmode 777 for installation.

[2019-11-13 10:50] jimbo8098 commented on #960
Does the mysql connection succeed when you don't use sudo?

On Wed, Nov 13, 2019, 10:43 AM shaminmv <notifications@github.com> wrote:

[2019-11-13 10:52] jimbo8098 commented on #960
Another one actually, what grants have you provided to the "school" user?

On Wed, Nov 13, 2019, 10:43 AM shaminmv <notifications@github.com> wrote:

[2019-11-13 10:54] shaminmv commented on #960
yes it does connect.
![image](https://user-images.githubusercontent.com/41247468/68757431-fbb4c300-061c-11ea-8a27-3ffa483232a0.png)

Here is the commands i used:
CREATE DATABASE school;
CREATE USER 'schoolsms'@'localhost' IDENTIFIED BY 'password';
GRANT ALL ON school.* TO 'schoolsms'@'localhost' IDENTIFIED BY ''password';' WITH GRANT OPTION;

[2019-11-13 10:57] jimbo8098 commented on #960
The user in your grant is schoolms where in your connection it's school.
Can you connect using the schoolms user using the command line MySQL client?

On Wed, Nov 13, 2019, 10:54 AM shaminmv <notifications@github.com> wrote:

[2019-11-13 11:07] shaminmv commented on #960
yes i can connect. I created schoolsms after failing to connect from school. same grants.

[2019-11-13 11:08] shaminmv commented on #960
Also I tried downloading a WordPress installation and it can connect to the database!

[2019-11-13 11:14] jimbo8098 commented on #960
Hmmm anything spawned in your Apache error logs when your are trying to
proceed?

On Wed, Nov 13, 2019, 11:08 AM shaminmv <notifications@github.com> wrote:

[2019-11-13 11:23] shaminmv commented on #960
I am on NGINX. No errors. I just used a remote SQL server from www.db4free.net and it worked.

I am on a subdomain and using maria DB and this is the commands I used :

[2019-11-13 12:40] SKuipers commented on #960
Hi @shaminmv

Are you using v18.0.01 or greater for your install? There was an issue identified in v18.0.00 where database passwords with special characters in them could cause the installer to fail. This was corrected in v18.0.01.

[2019-11-13 16:41] shaminmv commented on #960
Yes, I downloaded the latest from the website. I will try changing the password and will let you know.

[2019-11-14 08:28] shaminmv commented on #960
I tried a password without special characters and it worked. You might wanna look into that @SKuipers

[2019-11-14 15:15] radelphe opened #961 "gibbonFinanceInvoice.gibbonPaymentID is not updated after payment"
**Describe the bug**

gibbonFinanceInvoice.gibbonPaymentID is not updated after payment

**To Reproduce**

1. In Finance, create and issue a new invoice.
2. Edit Invoice and make payment.
3. Run the following query (change %ID% to the ID of teh invoice created at step 1):

"SELECT * FROM gibbonFinanceInvoice WHERE gibbonFinanceInvoiceID = _%ID%_"

**Problem:** gibbonFinanceInvoice.gibbonPaymentID

[2019-11-14 15:35] yookoala commented on #960
@shaminmv What special character did you used in the old password?

[2019-11-14 18:35] shaminmv commented on #960
I was using "<1:FT9k+1318>1u"
randomly generated password

[2019-11-14 19:35] radelphe opened #962 "Dropdown list for bulk processing invoices does not refresh after changing view filter"
**Describe the bug**

Dropdown list for bulk processing invoices does not refresh after changing view filter.

**To Reproduce**

1. In Finance module, create and Issue one or multiple invoices so that they will have "Issued" Status.
2. Create new invoices with Pending status.
3. Go to Manage Invoices and note what is the filter view (e.g. Pending). If you select the item, the action menu items for

[2019-11-15 05:24] SKuipers commented on #961
Hi @radelphe

I've looked at the code and it appears gibbonFinanceInvoice.gibbonPaymentID may be a deprecated field. I suspect at some point in the past an invoice may have been attached to a single payment, however this is no longer the case, as there can be multiple payments per invoice.

To retrieve these in your SQL query, be sure to look at the `foreignTable` and `foreignTableID` fields in th

[2019-11-15 11:33] radelphe commented on #961
Ah! Got it. Thanks @SKuipers .

[2019-11-15 11:33] #961 closed

[2019-11-19 01:03] SKuipers commented on #962
Hi @radelphe

Thanks for the heads up, I was able to reproduce this issue. I've labelled it as a bug and will see if we can fix it for v19.

[2019-11-21 05:14] SKuipers commented on #960
Hi @shaminmv  Thanks for the heads up on this issue 👍  It looks like the randomly generated pair of `<` `>` characters in the password caused the sanitization filter to remove these characters with `strip_tags`. I'll look at resolving this issue for v19.

[2019-11-21 05:14] #960 closed

[2019-12-05 09:03] ahmdhssn opened #968 "Maldivian Language (Dhivehi) not available as users language"
We do not have Maldivian Language (Dhivehi) available for users first, second or third language.

[2019-12-05 11:25] ahmdhssn opened #969 "Cannot edit or delete first added Fee Category"
Its not available when adding or editing fees in manage fees
but available when i choose Ad Hoc as fee from the dropdown.

[2019-12-06 09:33] rossdotparker commented on #968
Hello @ahmdhssn this was true...but I've just added it : ) You can see the change in the commit below, which is in our v19.0.00 branch

https://github.com/GibbonEdu/core/commit/3304479043c2b2d3257d44c4c02d881bb5881d6b

Version 19 is due out on January 20th. If you want to access it earlier than that on v18, you can run the new SQL statement on your database now, and then remove the duplicate entry

[2019-12-06 09:33] #968 closed

[2019-12-06 09:35] rossdotparker commented on #969
Hi @ahmdhssn this is actually a feature designed to make sure that there is always one fee category in the system. This category "Other" is useful for catching fees that might not fit anywhere else. You could remove it direct from the database, but this might cause unexpected knock on effects...so be careful! Ross.

[2019-12-08 09:05] ahmdhssn commented on #969
Hi @rossdotparker,
Please have a look at the screenshots below. "Monthly School Fees"
![image](https://user-images.githubusercontent.com/57095269/70387131-074c9d00-19c3-11ea-91fe-cc0a4dab783e.png)
![image](https://user-images.githubusercontent.com/57095269/70387139-19c6d680-19c3-11ea-817d-84c240c7073e.png)
![image](https://user-images.githubusercontent.com/57095269/70387171-89d55c80-19c3-11ea-96ed

[2019-12-08 22:21] rossdotparker commented on #969
Hi Ahmed, that is very odd. I am guessing the gibbonFinanceFeeID value for Monthly School Fees is 000001. Is that correct? When you installed the system, was there a value for Other? Thanks!

Hi @SKuipers I think this might be a bug. Are you able to test a fresh install, and see if the default Other value it exists? If not, I wonder where along the line it went missing?

[2019-12-09 04:37] SKuipers commented on #969
Looks like the code to add the Other fee category exists in the demo data but not the base install. I've updated the .sql files in [this commit](https://github.com/GibbonEdu/core/commit/af94ff24cbd39249676797aa2739a9054e402ac6) to correct the issue, but I believe we'll need to make a note when re-generating sql files to keep the Other category in gibbon.sql 🤔

Ahmed, if you run the following SQL o

[2019-12-09 05:26] SKuipers commented on #962
Hi @radelphe, I've fixed this bug for v19 in the following commit: https://github.com/GibbonEdu/core/commit/1c8dee05fe54f82cb054e1dc74d802a735384834  You can apply the same changes to v18 and should see that the dropdowns are now updating correctly based on the table filters. Thanks!

[2019-12-09 08:29] ahmdhssn commented on #969
Its was the same bug as mentioned above. SQL worked fine.
Thank you @rossdotparker and @SKuipers.  That was quick.
Thank you @rossdotparker and @SKuipers.

[2019-12-09 08:29] #969 closed

[2019-12-10 00:34] #962 closed

[2019-12-10 00:34] #805 closed

[2019-12-14 18:08] ahmdhssn commented on #968
Thanks @rossdotparker
Maldivian language name is Dhivehi. Maldivian will do fine too.

[2019-12-16 10:19] ahmdhssn opened #974 "Finance Fees cannot be deleted"
Hi,
I think its a bug. Finance user must be either able to delete unused fees or at-least disable them.
![image](https://user-images.githubusercontent.com/57095269/70898812-37291f80-2017-11ea-8b8b-8361255b4fd2.png)
Thanks
Ahmed

[2019-12-16 10:29] ahmdhssn commented on #289
Hi Ross,
I'm not sure if this is fixed yet.
![image](https://user-images.githubusercontent.com/57095269/70899326-3b097180-2018-11ea-8279-581e52a35a23.png)
![image](https://user-images.githubusercontent.com/57095269/70899369-4c527e00-2018-11ea-8054-1a239057a061.png)
With dropdown even LIVE RUN shows success but no read updates.
I had to change it to a textbox.
Thanks
Ahmed

[2019-12-16 10:36] ahmdhssn commented on #289
Sorry It doesnt work that way even. This is after setting it as a shortText.
I tested this before and made it out. But this time no luck.
![image](https://user-images.githubusercontent.com/57095269/70900014-b9b2de80-2019-11ea-9634-8514e3fcb4c7.png)
I badly need some help.
Thanks
Ahmed

[2019-12-17 01:13] SKuipers commented on #974
Hi Ahmed,

I believe the system is designed to prevent deleting fees to ensure there's no loss of important data. However, you can disable them by clicking the pencil and setting Active to No. Hope this helps!

<img width="788" alt="Screen Shot 2019-12-17 at 9 10 43 AM" src="https://user-images.githubusercontent.com/897700/70955912-57a3b900-20ad-11ea-8fcd-9880e98fa98c.png">

[2019-12-17 01:13] #974 closed

[2019-12-17 01:20] SKuipers commented on #289
Hi Ahmed,

This appears to be a different issue than the original post. From your screenshots, I can see that you're looking to import Custom Field data using the Import from File option. Because every school can have different types of custom fields, this is one of the few areas of the system where you would need to edit the importer definition before you can import custom field data. You can fin

[2019-12-17 06:01] ahmdhssn commented on #974
Thanks @SKuipers. Somehow i didn't see it.
Looks like after making inactive, still appears in the dropdown adding invoices.

[2019-12-17 06:54] SKuipers commented on #974
Well caught! They shouldn't still be showing up in the list, that part is a bug. I've fixed it here for v19: https://github.com/GibbonEdu/core/commit/4eaebf435be2d8c1dda31738091aba3d43908c8b

[2019-12-17 07:10] ahmdhssn commented on #289
@SKuipers could you help me with a screenshot. I'm unable to get it done.
![image](https://user-images.githubusercontent.com/57095269/70971032-cdb21b00-20c1-11ea-845f-633c825c0b89.png)
![image](https://user-images.githubusercontent.com/57095269/70971080-f1756100-20c1-11ea-9a5b-79204483188d.png)
Imported successfully, but still not getting updated.
Where am i doing it wrong?

[2019-12-24 07:09] ahmdhssn opened #980 "DateStart imported incorrectly"
Hi,
Im trying to import the student admission dates to the dateStart field in gibbonPerson.
It seems like the importer is using a different date format. Some dates are imported incorrectly as "1970-01-01"
I have a dateStart column in the import file formatted as "dd/mm/yyyy"

[2020-01-06 05:05] SKuipers commented on #980
Hi @ahmdhssn

The importer in Gibbon uses the PHP `strtotime()` function to convert strings to dates. This function looks at the separators and converts the dates based on the characters used, however the use of / slashes in PHP dates is unfortunately american-centric. [See the docs for more info](https://www.php.net/manual/en/function.strtotime#refsect1-function.strtotime-notes).

One way to over

[2020-01-06 05:08] SKuipers commented on #289
Hi @ahmdhssn

The info in your screenshots appears correct, as long as the value G01 is one of the options in the Admission Grade drop-down list. It's hard to tell from the screenshot alone, perhaps if you share the .yml file you've used, and a screenshot of the Custom Field for Admission Grade, we may be able to help troubleshoot.

[2020-01-13 07:29] fvlasie opened #982 "Text display bug on add lesson plan page"
[code]
<img width="783" alt="Screen Shot 2020-01-12 at 11 25 16 PM" src="https://user-images.githubusercontent.com/33334298/72238686-58881780-3593-11ea-84f5-f89bec473854.png">

[2020-01-13 07:30] fvlasie commented on #982
"CMIIse" is not a string that appears in the codebase, so I could not track it down.

[2020-01-13 07:32] SKuipers commented on #982
Hi FV,

Any chance you have a string replacement setup in your system? Looks like the letters "hoo" are being replace with "MII". Otherwise, perhaps some kind of multi-byte string issue 🤔

[2020-01-13 07:55] fvlasie commented on #982
Hello Sandra,
I have no string replacements set. It is strange...

[2020-01-17 07:34] #980 closed

[2020-01-17 07:52] SKuipers commented on #982
Hi FV. I'm a bit stumped on this one, I wasn't able to reproduce it 🤔 Do you want to keep an eye and see if it crops up anywhere else, or if you have a development install, test it out there? Thanks!

[2020-01-17 07:52] #982 closed

[2020-04-08 13:54] varunpathania86 opened #1008 "OAuth2 support"
Login using OAuth2 authentication

## Motivation
Most of the organizations nowadays use the applications which support OAuth2 authentication.
Providing OAuth2 authentication support in GibbonEdu will enable the schools to use existing login mechanism and SSO (single sign-on) feature.

## Example
https://github.com/thephpleague/oauth2-client

[2020-04-09 03:31] SKuipers commented on #1008
Hi @varunpathania86

Thanks for your request. OAuth2 is also something that has been [discussed in our forums](https://ask.gibbonedu.org/search?Search=oauth) so I think there is definitely community support. I'm also a fan of PHP League libraries and their OAuth2 client would be an ideal solution. Is this something you'd be interested in working on developing? At the moment our efforts are focused

[2020-04-26 21:29] vitovt opened #1023 "Attach more than one file to Homework online submission"
**Describe the bug**
When student submit online homework there is option to attach only one file.
![image](https://user-images.githubusercontent.com/315178/80320201-a6ace800-881d-11ea-806e-7555aafa8f72.png)

**To Reproduce**

1. Go to 'Home > Planner > Planner for **** > View Lesson Plan'
2. Scroll down to 'TEACHER RECORDED HOMEWORK'
3. Click on 'Type: File'
4. There is an option to add ONLY ONE f

[2020-04-26 22:02] vitovt opened #1024 "Homework submission time relays on server system timezone"
**Describe the bug**
If servers timezone is different to Gibbon's settings timezone, submissed homework time is set to servers timezone.
But Presense timezone shows correct time.

**To Reproduce**

0. Set Gibbon's timezone different to web-server timezone
1. Go to 'Planner' as a student
2. Submit homework as a student
3. Go to planner as a teacher
4. Submitted homework time will be wrong (like on

[2020-04-28 18:03] Ecogh opened #1027 "Log In Screen"
it takes forever and log in screen never get to show up, pls assist

[2020-04-29 05:47] rossdotparker commented on #1027
Hi Ecogh, did you notice any slow performance during installation, or did that seem quicker than loading the login screen. When you expect to see the login screen, what are you seeing instead? Also, have you checked your PHP error logs to look for any errors? Thanks, Ross.

[2020-05-03 01:24] SKuipers commented on #1023
Hi @vitovt, thank you for your feature suggestion!

@rossdotparker and I have discussed the idea and it looks like this change would end up being considerably larger than one would think: uploading multiple files, normalizing them, displaying them, etc. There would be substantial knockons, including into the Markbook, which can display such submissions. I don’t think it is something we would look

[2020-05-03 01:24] #1023 closed

[2020-05-03 01:39] SKuipers commented on #1024
Hi @vitovt

I've checked out the code for homework submission but I wasn't able to reproduce this error. The homework timestamp is being set by a `date('Y-m-d H:i:s')` function, which appears to be correct. Looking at your screenshot, I see the times 00:51 and 00:49, which appear to be the same timezone, two minutes apart.

I wonder if what you may be seeing is session caching on the Gibbon timezo

[2020-05-03 01:42] SKuipers commented on #1008
Hi @varunpathania86

I've added OAuth2 support to our feature request board. https://github.com/GibbonEdu/core/projects/2

Thanks!

[2020-05-03 01:42] #1008 closed

[2020-05-03 01:45] SKuipers commented on #1027
Hi @Ecogh

Hopefully you've found a solution to your issue. If not, be sure to post your issue to the [Gibbon support forums](ask.gibbonedu.org/). We are directing support requests to the forums as this helps us create a public knowledge base that other users can search if they have the same issue.

Thanks!

[2020-05-03 01:45] #1027 closed

[2020-05-06 14:39] vitovt commented on #1024
Thankyou for your response.

Screenshot was taken after i've changed timezone on server. The difference before was several hours.

After changing sever timezone it start working OK without need to clear any cache and without relogin.

It is not critical for me, because in my school there is one timezone only and it is not hard to set correct on server. But maybe it will be confusing for large inte

[2020-05-06 19:44] ghulamabbas93 opened #1037 "Reports Unexpected Behavior for Internal Assessment"
**Describe the bug**

When we add internal assessment in template of Reports. and Then we enter data for internal assessment for a subject in internal assessment and enter attainment and comment.

After this when we generate report it duplicates over the subject again and again reaching up to 10 pages.
**To Reproduce**

1. Go to 'Reports'
2. Click on 'Templates'
3. Scroll down to 'Internal Assessm

[2020-05-09 09:56] SKuipers commented on #1037
Hi Ghulam,

Well caught! It was indeed a bug. I've pushed a fix which you can find here: https://github.com/GibbonEdu/core/commit/01fd82edbd327e1982da81d6a0d07c9fd3dc3f2b

Thanks! 😃

[2020-05-09 09:56] #1037 closed

[2020-05-09 10:00] SKuipers commented on #1024
Hi @vitovt

Glad to hear you have it working on your server.

I think it may be related to the time being encoded with `Y-m-d H:i:s`, which does not include timezone data, so it is always relative to the timezone of the server when the script is run. If the timezone is changed on the server, the time recorded in the database will still be the same as it was before.

[2020-05-09 10:00] #1024 closed

[2020-05-12 14:45] kaitsh opened #1040 "Mysql password cannot contain "/" (V 19.0.00)"
**Describe the bug**
We get an error invalid input error in the initial install section (`/installer/install.php?step=1`) if the database password contains a "/".

**To Reproduce**
1. Create a database user with a password that contains a slash.
2. Go to the Gibbon URL and start the installer
3. Input the database config
4. On submit we get a redirect to `/install.php?step=2` with the error messag

[2020-05-28 16:22] GarethHards opened #1051 "Raspberry pi4 Apache2 Phpmyadmin and virtual host with the Gibbon files in it"
**Describe the bug**

**To Reproduce**

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Your System**
pi4 php7.3 apache2 phpmyadmin ubuntu 19.04
 - Gibbon version [e.g. v19
 - Browser [e.g. chromium

**Additional context**
 My virtual server test html page worked perfectly and when i removed the file and replaced it with the Gibbon

[2020-05-28 22:28] rossdotparker commented on #1051
Hi Gareth, thanks for trying Gibbon, and welcome to the community. Is it possible for you to check your PHP error logs, as this normally gives a clear indication of where the issue lies. In Ubuntu  the location of the logs is /var/logs/apache2/error. Thanks!

[2020-06-08 01:37] jimbo8098 commented on #1051
I suspect Ross' suggestion will be helpful but this sounds like a file ownership issue to my. If it's helpful, here's an installation guide I wrote for an Ubuntu offshoot.

https://docs.gibbonedu.org/administrators/getting-started/installing-gibbon/install-ubuntu-debian/

[2020-08-01 16:40] jowinjohnchemban opened #1086 "Extending Gibbon to College Management System"
**Is your development discussion related to a problem?**

Yes

**Describe the solution you're proposing**

Can Please develop this great idea to college management system.

**Describe alternatives you've considered**

[Linways AMS](https://linways.com/features)

**Additional context**

[ask.gibbonedu.org](https://ask.gibbonedu.org/discussion/2983/extending-gibbon-to-college-management-system#lates

[2020-08-26 20:43] varunpathania86 opened #1091 "FastFinder search not working"
**Describe the bug**
Fast finder searching functionality not working.

**To Reproduce**
1. Go to 'Fast finder search box'
2. Type any keyword
3. Notice the search autocomplete list.
4. There is only "Searching..." text showing up.

**Expected behavior**
The autocomplete or drill-down list of the fast finder must show the search results based on the keywords entered.

**Screenshots**
![FastFinderIs

[2020-08-27 00:25] rossdotparker commented on #1091
This is often a sign that your session has timed out, and you've been logged out. Can you click on Home int he main menu, and see if you stay logged in, or end up logged out? We can definitely make Gibbon handle this more gracefully!

[2020-08-28 18:52] varunpathania86 commented on #1091
I initially thought the same. But the ajax request is responding with correct data.

![image](https://user-images.githubusercontent.com/1655067/91604232-ee8a7a00-e98b-11ea-8395-dea3ebbb4502.png)

Following are the HTTP response headers:

![image](https://user-images.githubusercontent.com/1655067/91604476-5771f200-e98c-11ea-9c57-474ed72ae6aa.png)

And the HTTP request headers:

![image](https://use

[2020-08-30 11:26] SKuipers commented on #1091
Hi @varunpathania86

I notice in your initial email you're using MySQL 8, which we've discovered is not necessarily compatible with Gibbon v20. We've made changes to the v21 development environment to make it compatible. If this install is running on your test server, would you be interested in testing the current v21 branch of Gibbon and seeing if this solves your issue?

https://github.com/Gibbo

[2020-09-04 09:35] varunpathania86 commented on #1091
Hi @SKuipers

I also tried v21 but the issue is still there (But thanks for the nice and decent UI).
However, on the same test machine, another instance of Gibbon with the same v20 version is working fine.

I noticed that after I updated my OS using `apt-get upgrade` command, only new Gibbon installations (v20 or v21) giving this error but the previously installed instances (v20 or v21) are workin

[2020-09-13 05:00] powertashton opened #1108 "Facility (Space): Database Form Factory; createSelectSpace does not allow for sorting by type"
**Is your development discussion related to a problem?**
I use the "type" column of gibbonSpace to define the building that a location is within, as we have a lot of different facilities and it is easiest to sort each location, by their parent location. However selects that use the database form factory's ->addSelectSpace do not allow for any organisation beyond just listing all the locations out,

[2020-09-14 01:26] powertashton opened #1109 "School Admin: Undefined Variable when creating department"
**Describe the bug**
Notice: Undefined variable: AI in /Applications/MAMP/htdocs/helpdesk/tests/modules/School Admin/department_manage_addProcess.php on line 62

**To Reproduce**
1. Go to Departments Manage in School Admin
2. Click on Add (to add a department
3. Fill out form
4. See error

**Expected behavior**
For a department to be created without an error

**Screenshots**

![image](https://user

[2020-09-14 01:36] powertashton commented on #1109
Fixed on PR: #1110

[2020-09-14 02:11] SKuipers commented on #1108
Hi Ash! Sounds like a great feature to add. I think we could update the createSelectSpace method in the DatabaseFormFactory to add groupings by default, they're likely to be useful for pretty much any school. Feel free to PR this change : )

[2020-09-14 02:57] SKuipers commented on #1109
Thanks! Looks like in many systems the notice wasn't breaking the addProcess so this one slipped by. Well caught 👍

[2020-09-14 02:57] #1109 closed

[2020-09-14 02:58] SKuipers commented on #1086
This question has [been responded to](https://ask.gibbonedu.org/discussion/2983/extending-gibbon-to-college-management-system#latest) on the forums so I am closing it here. Thanks!

[2020-09-14 02:58] #1086 closed

[2020-09-14 03:01] SKuipers commented on #1091
Hi @varunpathania86. We haven't had any luck replicating this error, v21 and MySQL 8 seem to be running fine on the systems we have in development and production. I wonder if your fresh server installs may be missing one of the PHP extensions, such as gettext or mbstring, sometimes these are not enabled by default.

[2020-09-14 03:45] #1051 closed

[2020-10-02 08:01] markxus23 commented on #287
Hi Ross I'm having the same issue but i'm running windows 10... my server is xampp can you guide me how to fix this issue

[2020-10-02 23:46] jimbo8098 commented on #287
@markxus23 This kind of error would, to me, suggest a permissions issue. I assume the config.php file is within the site root?

[2020-10-03 02:57] markxus23 commented on #287
Yes the config.php file is in the gibbon folder in my htdocs folder of xammp

On Sat, 3 Oct 2020, 7:46 am Jim Speir, <notifications@github.com> wrote:

[2020-10-04 08:02] #1108 closed

[2020-10-04 08:33] SKuipers opened #1119 "Hacktoberfest 2020"
![Logo Sponsors Dark](https://user-images.githubusercontent.com/897700/95010397-a0882680-065b-11eb-86b5-5664b1bd93b6.png)

Hello! It’s October again and that means it’s Hacktoberfest! 😃  Whether you’re an open source veteran or completely new, there are many ways to participate in Hacktoberfest and contribute to Gibbon. Be sure to [sign up on the website](https://hacktoberfest.digitalocean.com) fi

[2020-10-04 08:59] SKuipers commented on #1091
This issue has been inactive so I'm closing it for now, feel free to comment if you have more info and we'll re-open it. Thanks!

[2020-10-04 08:59] #1091 closed

[2020-10-05 00:44] SKuipers commented on #287
Hi markxus23, this may be a file permission error. The answers above are for Linux systems, the best bet for windows 10 xampp would be to do some google searches to see how permissions are set. A quick search for "xampp file permissions windows" turned up the following article that may help: https://stackoverflow.com/questions/9349469/changing-php-write-permissions-in-xampp-on-windows-7

[2020-10-05 00:56] rossdotparker commented on #1119
This is fantastic Sandra! I'm going to try and get stuck in during the next week or two.

[2020-10-05 01:01] markxus23 commented on #287
Thanks a lot. I'll try to see if i can search that. Thanks a lot. For now
i'll see what i can do. Thanks again

On Mon, 5 Oct 2020, 8:44 am Sandra Kuipers, <notifications@github.com>
wrote:

[2020-10-09 22:59] jimbo8098 commented on #821
If I'm not mistaken, it seems like the Help Desk module is already converted over to DataTables. I couldn't find any tables tags within that module.

[2020-10-10 04:15] powertashton commented on #821
@raynichc and I completely refactored the whole module, so you'd be right on that one.

[2020-10-10 06:11] SKuipers commented on #821
Yes, well spotted, I've checked the Help Desk off on the list 😄

[2020-10-11 17:35] jimbo8098 commented on #821
FYI I've started work on the Trip Planner module's trips_manage.php page @raynichc

[2020-10-12 13:00] jimbo8098 commented on #1040
Gibbon v19.0.00 is pretty old now, we're working on releasing v21.0.00 currently. This could be something that's been resolved in v20.0.00 so it may be worth checking that to see if you experience the same issue there.

[2020-10-13 18:06] yookoala commented on #1040
I believe the source of this problem is [here](https://github.com/GibbonEdu/core/blob/358c7b8f84826608b224638cd6e8f9e6c5b0da65/installer/install.php#L123-L128), where the installer checks if the database variables contains either `'`, `"`, `/` or `\`. If any variables contain any invalid characters, the flag `$isConfigValid` is set to `false` and [this error](https://github.com/GibbonEdu/core/blob

[2020-10-21 12:52] SKuipers commented on #1040
Thanks Jim and Koala for following up on this, and Koala for the fix! This issue has now been resolved in v21 👍

[2020-10-21 12:52] #1040 closed

[2020-11-03 00:32] SKuipers commented on #820
Done and dusted! All form ooifications for additional modules have now been completed 🎉

[2020-11-03 00:32] #820 closed

[2020-11-03 00:34] #1119 closed

[2020-11-03 00:37] SKuipers commented on #1119
That's a wrap, Hacktoberfest 2020 is now complete. Thank you to everyone who participated in the hackathon! 🧑‍💻 👩‍💻 We had several participants from around the world and [one school even had cake](https://twitter.com/HalfotAlphabet/status/1318506716342833153)! Hopefully you got all 4 pull requests in and got your free t-shirt or tree 🎉

[2020-11-24 17:55] leofreitas commented on #821
Hi, finished Alumni.

[2021-01-04 01:13] SKuipers commented on #821
Thanks Leo! 👍

[2021-01-21 15:13] yookoala opened #1210 "Make Gibbon PHP 8 ready"
**Is your development discussion related to a problem?**

PHP 8.0 is out. It's time to make Gibbon forward-compatible with PHP 8.x.

**Describe the solution you're proposing**
1. Add PHP 8 as a test target.
2. Handle whatever error we encounter.
3. Hopefully we can get both PHP 7.x and PHP 8.x happy.

**Describe alternatives you've considered**
I don't see any.

**Additional context**
Already enco

[2021-01-22 05:13] SKuipers commented on #1210
Hi Koala, thanks for getting the ball rolling. Yep, PHP 8 compatibility is a good goal for v22. Lets keep this discussion open and use it to track our progress in this area 👍

[2021-01-22 05:40] SKuipers commented on #1210
I've pushed an initial fix for the database issues, which means that pages will now load and the installer will run, albeit with some deprecation messages related to Twig. https://github.com/GibbonEdu/core/commit/805b0af191a3abe4b0ae279f5299f99b12146951

I'll work on a few more compatibility issues today, but I suspect the majority of them will be uncovered through testing and general use.

[2021-01-23 08:56] yookoala opened #1214 "PHPUnit / Codeception errors in PHP 8"
**Describe the bug**

Ran into this error in PHP 8 testing:
[code]
The error is very similar to doctrine/dbal#4197, which is caused by sebastianbergmann/phpunit#4373. In short, an internal programming interface is using the keyword "match". Since PHP 8 introduced the [match expression](https://www.php.net/manual/en/control-structures.match.php), it has became a [reserved word](https://www.php.net/

[2021-01-25 01:56] yookoala commented on #1214
Changing the codeception and phpunit version seems to require changes to a lot of libraries in vendor folder. It would be better if #1123 is merged before touching this subject.

[2021-01-27 01:10] SKuipers commented on #1214
Great work! Yes, with our minimum version moving up to PHP 7.3, it'll be great to update our test suite to make use of newer PHPUnit and Codeception versions. I've merged your PRs and everything is looking good, all tests are green 👍 A massive thank you for doing the leg-work on these upgrades.

[2021-01-27 01:11] #1214 closed

[2021-01-27 04:32] yookoala opened #1225 "Migration to Travis-ci.com?"
**Is your development discussion related to a problem?**
[travis-ci.org](https://travis-ci.org) is getting slower and slower. Sometime it takes hours for the test to start after triggered. Given that it is [scheduled to shutdown](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom), it's understandable that it is not given the same resource as [travis-ci.com](https://travis-ci.c

[2021-01-27 16:04] yookoala opened #1226 "phpleague ReflectionContainer uses deprecated ReflectionParameter::getClass"
**Describe the bug**
The ArgumentResolverTrait in phpleague 2.4.1 still uses the deprecated ReflectionParameter::getClass method. This issue is fixed in [eb23e27](https://github.com/thephpleague/container/commit/75f01de3d99d8a36bd5a5567090540efe245bcb6#diff-c8fbc16c578d79040b51d66616a591a41fa8993f58ff07217c3e82a4827a4957), which got merged into [v3.3.3](https://github.com/thephpleague/container/re

[2021-01-27 16:33] yookoala opened #1227 "Gibbon\Forms\Layout\Row::__call() unable to handle proxy function returning null"
**Describe the bug**
* `Gibbon\Forms\Layout\Row::__call()` magic method unable to handle the case where the proxy function call return anything other than a `Gibbon\Forms\OutputableInterface` (e.g. `null`).

**To Reproduce**
Saw this error in CI environment. The exact step to reproduce is not yet indentified.

**Expected behavior**
Such error should be elegantly handled.

**Screenshots**
![2021-01

[2021-01-28 01:52] SKuipers commented on #1225
Thanks Koala. Now that the GitHub actions are streamlined and working well, I'm tempted to drop the Travis CI check. This would speed up the tests, and prevent us from having to manage the configuration of two different CI systems.

[2021-01-28 01:52] #1227 closed

[2021-01-28 03:45] yookoala commented on #1225
That's OK for me 🙂

[2021-01-28 06:29] SKuipers commented on #1225
Okay, I've removed the commit hook, so it's no longer in the tests list. It looks like if we did migrate, we'd get a limited number of 'build credits', and would have to apply to have the repo recognized for their free open source plan. At least on GitHub, its already free and already setup and running well (thanks again!)

[2021-01-28 06:29] #1225 closed

[2021-01-29 10:40] yookoala opened #1237 "Occasional fail in activity enrollment test, with MariaDB"
**Describe the bug**
Working on the GitLab CI, I saw occasional failure in the `ManageActivitiesCept`.

[code]

![2021-01-29 18-23-31 的螢幕擷圖](https://user-images.githubusercontent.com/91274/106263280-22c9d580-625f-11eb-9fb2-aea0d0a7d32e.png)

This bug is strange:
* This only occasionally happen. And if I rerun the tests, the test would usually pass on the 2nd run.
* The issue is NOT relevant to the

[2021-01-29 11:06] yookoala commented on #1237
Here is the list of things that's tested by `ManageActivitiesCept` (to the best of my understanding):

1. Add a new Activity named "T1 Test Activity". Since the dummy data fill up the table until `gibbonActivityID=2335`, the `gibbonActivityID` of this activity must be "00002336".
2. Rename this newly created Activity as "T2 Test Activity".
3. On the "Manage Activities" page, click "Enrolment" to e

[2021-01-29 11:36] yookoala commented on #1237
After further investigation, found something interesting:
1. These seem to be the lines that show the error mesage:
   https://github.com/GibbonEdu/core/blob/c18f0a9fe6fe27fd7f253ea16d966d56d36b836d/modules/Activities/activities_manage_enrolment.php#L43-L45
2. This will show when the program check and see if the current user is an organizer with this query:
    https://github.com/GibbonEdu/core/bl

[2021-01-29 12:46] yookoala commented on #1237
I created a new branch to use `mysql:5.7`, instead of `mariadb:latest`, in CI. And I reran the CI a few times. The error never show up again. When using maridb, the error used to show up on 1 out of 3 tests.

[2021-01-29 12:52] yookoala commented on #1237
As a side issue, I think we need a way to also test different database / version. Will probably add some "includes:" matrix target for that (e.g. php8 + mariadb:10.2, php8 + mariadb:latest, php8 + mysql:latest, php8 + mysql:5.7)

[2021-01-29 14:06] SKuipers commented on #1237
Hi Koala, interesting bug indeed! I'm not familiar with GitLab, but it's interesting that MariaDB is returning a different result (intermittently!) than MySQL. I have one school using MariaDB in production, they haven't had any issues in general, but I don't know how heavily they use activities.

Grouped actions use a precedent, numerical value, to order the actions before grabbing the highest one

[2021-01-29 16:35] yookoala commented on #1237
@SKuipers: May I ask what does `getHighestGroupedAction()` actually do? The comment describe it as "Looks at the grouped actions accessible to the user in the current module and returns the highest". But I can't really make sense of it. What is the high and low of actions has to do with the permission in enrolment anyway?

[2021-01-29 17:15] yookoala commented on #1237
By adding logging to the program, I can confirm that the query in `getHighestGroupedAction` doesn't always provide the same order, thus the first row is not always the same:

[code]

The expected order would be:
[code]

But in MariaDB environment, sometimes it gives you this:
[code]

As I said before, since the query is "ORDER BY precedence DESC", and both of the mentioned actions has a `precedenc

[2021-01-30 11:42] yookoala commented on #1237
Spent some time to find the Innodb default order. I remember, when I first learn about MySQL, the default order is by the ascending order of primary key (such as [this answer](https://stackoverflow.com/a/49826908/372172) described) while MyISAM is by the descending order of insertion / update.

My point is we should not depend on the default ordering of storage engine.

[2021-02-01 00:55] #1237 closed

[2021-02-01 01:00] SKuipers commented on #1237
Thanks for looking into this and providing a solution. Ideally, the precedence will be set on the actions so that they're not identical, so this is also a bug in the Activity Enrolment permission, so I'll also push a fix for that. Your fix looks great, and helps ensure there isn't any ambiguity in the returned row 👍

Grouped actions exist because certain pages can have multiple levels of permissio

[2021-02-02 17:41] abdirooble commented on #1226
hey guys!
I have two questions.
can someone tell me which stacks Gibbon has?
and do you use a framework for PHP (laravel) or only PHP?

[2021-02-02 17:44] abdirooble commented on #1210
<----I'm posting this for the second time, hoping to get faster answer ;).----/>

hey guys!
I have two questions.
can someone tell me which stacks Gibbon has?
and do you use a framework for PHP (laravel) or only PHP?

[2021-02-02 22:52] yookoala commented on #1226
The question is not related to this issue.

For general enquiries and support, please use the forum site:
https://ask.gibbonedu.org/

P.S. No. Gibbon is not using any framework.

[2021-02-02 22:53] yookoala commented on #1210
OT. Please see my reply in your other comment.

[2021-02-03 00:17] rossdotparker commented on #1210
Hi abdirooble, whilst I definitely appreciate your enthusiasm, multiple posts and emails acts to slow us all down. We work across multiple time zones, offering volunteer support to help as many people as we can. Resources are limited. If you make a single post ([to the forums](https://ask.gibbonedu.org/) as Koala pointed out in his other reply), we'll get back to you there as soon as we can. Cheer

[2021-03-10 18:31] fvlasie opened #1271 "Flexible content layout bug"
The resizable/flexible content is really nice but I have encountered an issue where it seems to switch when the window is still too narrow to accomodate the side column properly:

<img width="1042" alt="Screenshot 2021-03-10 at 10 19 37 AM" src="https://user-images.githubusercontent.com/33334298/110678968-c2964f80-818b-11eb-9a6d-994950505a2f.png">

Thank you!

[2021-03-12 04:22] SKuipers commented on #1271
Thanks Leo for fixing this issue 👍  FV, if you apply this change to your install you should see the calendar scaling better now.

[2021-03-12 04:22] #1271 closed

[2021-03-12 05:45] #1226 closed

[2021-03-16 03:22] fvlasie opened #1274 "Notify all class participants not working"
**Describe the bug**
Notify all class participants checkbox does not produce any notifications. This was working a couple of versions ago. Has any notification code changed recently?

**To Reproduce**
1. Go to any lesson plan
2. Click Edit
3. Click Notify all class participants checkbox
4. No error is reported but no notifications show up in Notifications so it is something internal to Gibbon rath

[2021-03-16 03:46] SKuipers commented on #1274
Hi FV. Hmm, this is interesting. I've just tested it locally with v22 and it appears to be working. As a note, it sends a notification rather than a message wall post. These notifications would be sent directly to anyone enrolled in the class for that lesson (and not set to Left). If you have email setup, it'll send an email as well as appear in the notifications tray for that user.

<img width="6

[2021-03-16 04:38] fvlasie commented on #1274
Hello Sandra! I am seeing it in both my production and test systems. :(

[2021-03-16 06:40] SKuipers commented on #1274
Hmm, that's odd. I don't see any recent [changes to the script](https://github.com/GibbonEdu/core/blame/v22.0.00/modules/Planner/planner_editProcess.php) that could be the culprit, and my local tests worked.

Can you check your PHP error logs to see if there's anything in there? Then, if you have a database tool like phpMyAdmin or Sequel Ace, check the tail end of the gibbonNotification table to s

[2021-03-17 16:38] fvlasie commented on #1274
In my test server the notification table shows:
[code]

[2021-03-17 16:41] fvlasie commented on #1274
But no notifications appear in the Home > Notifications. The user is associated with the class (teacher) so it should be working.

Thanks for your help! (SequelAce is an interesting tool!)

[2021-03-17 16:46] fvlasie commented on #1274
Sorry, I forgot to say that the php log shows no errors.

[2021-03-18 01:25] SKuipers commented on #1274
Hmm, it looks like by all accounts there isn't an error, the notifications were created successfully.

You've mentioned the user associated with the class is the teacher. Is that also the person making the edits and triggering the notification? The person who made the edits doesn't receive the notification, because they're already aware of the edits since they made them.

[2021-03-18 03:31] fvlasie commented on #1274
Well, it appears I am suffering from brain overload. I am forgetting how my own code works! Sorry for the trouble!

[2021-03-18 03:43] SKuipers commented on #1274
No worries at all, we've all been there 😅

[2021-03-18 03:43] #1274 closed

[2021-04-09 00:09] fvlasie opened #1296 "Planner is unaware of school closures"
When entering lesson data in Planner the next-class-slot-detector (i.e. add lesson plan or bump) does not seem to know about school closures. This means that once you hit a school closure the only way to advance to the next class slot is by manually entering the date.

**Expected behavior**
Planner should know to skip dates that have been marked as closures in the timetable.

Thank you! :)
FV

[2021-04-12 01:24] SKuipers commented on #1296
Hi FV, can you share some steps to reproduce and screenshots? I've checked the code for the planner_bumpProcess.php script and it does look like it's checking for school closures, so I wonder what use-case might result in this not working for you.

[2021-04-12 02:18] fvlasie commented on #1296
Hello Sandra,
Thanks for the reply!
In Planner I click "Add" to make a new lesson (the last lesson entered is 12/05/21):

<img width="846" alt="Screenshot 2021-04-11 at 7 13 18 pm" src="https://user-images.githubusercontent.com/33334298/114332150-76c42680-9afa-11eb-9485-c829c86b276f.png">

The lesson creating page autofills a date of 26/04/21:

<img width="862" alt="Screenshot 2021-04-11 at 7 13 3

[2021-04-12 06:35] SKuipers commented on #1296
Thanks FV for the screenshots and the steps 👍  I can see now that it's not the bump action but the add action that needed fixed. I've applied this fix to v22, which you can see here: https://github.com/GibbonEdu/core/commit/a2af15b620d1e14ab8b50e9b5c7a8004854e1649

[2021-04-12 06:35] #1296 closed

[2021-06-03 00:27] SKuipers commented on #1210
Hi Koala, with the changes we've made earlier in the year, and the tests running on PHP 8, it's looking like we've caught all the known issues with this version. I'm going to mark this issue as resolved, in preparation for the v22 release, but we'll be sure to add PHP 8 as one of the versions we test in the upcoming full system test. Thanks again for your work setting this up! 👍

[2021-06-03 00:27] #1210 closed

[2021-07-02 07:21] tr-j opened #1376 "Cannot save images in Reports -> Template Builder -> Signature Box"
**Describe the bug**
I went in to modify an existing report and cannot update the signature. The record saves successfully, but the file input box remains blank.

**To Reproduce**

1. Using Gibbon 22.0, go to Reports / Template Builder / Signature Box
2. Select an image
3. Save
4. See error

**Expected behavior**
This should update the image as it has before.

**Your System**

 - Gibbon version [e

[2021-07-02 07:37] tr-j opened #1377 "Reports Module Erases Comments"
**Describe the bug**
During Proofreading comments are deleted unless the "Override" option is selected, which appears to disable some of the moderation functions.

**To Reproduce**

1. My user is an administrator both in the system itself and with the reports access.
2. Go to Assess / Reports / Proofread
3. Using the user dropdown select a different user
4. For each comment the radio button has op

[2021-07-04 10:06] tr-j opened #1378 "Error updating Reporting Cycle"
**Describe the bug**
On an existing reporting cycle, I attempted to update the end date and could not due to an error.

**To Reproduce**

1. Assess / Reports / Manage Reporting Cycles
2. Save
3. Resulting in a blank screen
4. In error log:
`
PHP Fatal error:  Uncaught TypeError: array_map(): Argument #2 ($array) must be of type array, string given in /home/gibbon/public_html/modules/Reports/report

[2021-07-04 12:05] SKuipers commented on #1378
Hi @tr-j, thanks for sharing this error report with us. I've taken a look and I was unable to reproduce the error. One thing to note is that Gibbon as of v22 requires PHP 7.3+. I wonder what version of PHP and MySQL you're running. Also, be sure to check the System Check page to see if all extensions are running. Another thing to check is any local browser extensions that may occasionally interfer

[2021-07-04 12:12] SKuipers commented on #1377
Hi @tr-j, thanks for reporting this issue and sharing in-depth information. I've followed your steps to reproduce the issue but wasn't able to see the same behaviour you're reporting. We've just finished a reporting season using the proof reading tools with our school and haven't had any issues, so I wonder if there is something specific to your setup, either server side or locally. Here's an exam

[2021-07-04 12:15] SKuipers commented on #1376
Hmm, something odd is definitly going on. Are you running a fresh install of v22, or an upgraded version? If upgraded, I wonder if not all files properly uploaded when updating, as a container NotFoundException sounds pretty serious, and would affect other areas of the system too.

[2021-07-04 12:35] tr-j commented on #1376
Hi, it is upgraded, not a fresh install. We have only upgraded in the past week. It's possible we'll encounter other issues, but mostly everything else is working so far. The upgrade went smoothly. Everything that I can see within Gibbon says it's fine, such as this:

Gibbon Version: v22.0.00 OK
PHP Version: 8.0.7 OK
MySQL Version: 10.3.30 OK

The system check reports no issues. Is there another c

[2021-07-04 12:42] tr-j commented on #1378
Hi,
I read this in the change log and used PHP 8: On the technical side, v22 includes PHP 8 support, increases the minimum PHP version to 7.3, and includes a number of structural changes to the database.

I just swapped between 8.0 and 7.3 and under 7.3 there is no error, and on 8.0 I get the error (blank page). It appears to work fine on 7.3.

[2021-07-04 14:25] tr-j commented on #1377
Hi,

I tested in PHP 7.3 and 8.0 and tested with Chrome and Firefox and continue to get the same issues. Another teacher has had the same thing happens and has disappearing comments as well. I expect it's something related to our config because it's a very visible and damaging error (losing all the comments). It appeared to me when I reviewed the code that this would happen consistently based on t

[2021-07-05 00:54] yookoala commented on #1378
@tr-j: Can you please try to modify line 48 from this:

[code]

to this:
[code]

See if it fixes the error.

[2021-07-05 04:41] tr-j commented on #1378
Hi Sandra,

I believe that helps, but it appears to require one more correction to the order as well (59).

$data['milestones'] = array_combine(array_keys($_POST['order']?? []), array_values($data['milestones']));

However, this error only appears using PHP 8.0. On 7.3 it's fine without the changes. With both of the changes it goes through, but I didn't test it using milestones in order to confirm

[2021-07-05 05:25] yookoala commented on #1378
@tr-j: Thanks. Just updated the PR to include the line.
@SKuipers: Please check the PR. You may also want to include this in v23.0.00.

[2021-08-01 17:07] thecompman opened #1391 "Import from File not detecting custom YMLs"
**Describe the bug**
I wanted to set up a custom YML for importing some student application data. When I uploaded the custom yml file to both the resources/imports directory and also the uploads/imports directory, Gibbon did not detect it nor list it on the Import from File page.

**To Reproduce**

Using Gibbon 22.0, place a custom YML import file in the resources/imports directory or the uploads/

[2021-08-11 06:31] fvlasie opened #1392 "Composer warning"
I am sure this is already known to our illustrious developers, but just in case it is not, I will refer to it here:

Package container-interop/container-interop is abandoned, you should avoid using it. Use psr/container instead.
Package phpoffice/phpexcel is abandoned, you should avoid using it. Use phpoffice/phpspreadsheet instead.

[2021-08-11 16:49] fvlasie commented on #1392
Thanks Koala!

[2021-08-12 17:19] TirushV opened #1394 ""You do not have Full or Write access to any budgets""
![Screenshot (348)](https://user-images.githubusercontent.com/84138572/129240355-13c49ec7-5d05-4852-8347-9a7738bbb297.png)
Sir, Can you please help me how to fix this?

[2021-08-13 03:55] rossdotparker commented on #1394
Hi Tirush,

Thanks for your email, and welcome to the Gibbon community. We are currently directing such enquiries to our support forums. Please start by searching the forum for answers to these questions. If you cannot find the information you need, post each question as a new forum thread, and we will answer the question there. We prefer the forum, as it helps keep answers public and accessible t

[2021-08-13 03:55] #1394 closed

[2021-08-13 08:16] tr-j opened #1395 "Timetable error"
**Describe the bug**

After rolling over to the next academic year the timetable is no longer rendering on the home page (Planner).

**To Reproduce**

1. Go to home page - click Planner.

**Expected behavior**

Normally, this syncs with the calendar and shows lessons and timetabled classes in a table.

Now it just shows "Loading" with the spinning loader bar. I can see a 500 error and this is outp

[2021-08-13 08:30] yookoala commented on #1395
@tr-j: Thanks for reporting. Which PHP version are you using now?

[2021-08-13 08:42] yookoala commented on #1395
This is a bug in Google API client using legacy signature of [implode()](https://www.php.net/manual/en/function.implode.php):

![2021-08-13 16-34-06 的螢幕擷圖](https://user-images.githubusercontent.com/91274/129329063-9736ba4c-8e35-4a10-af41-c08ad1ac9495.png)

This signature has made obsoleted since PHP 7.4. Google API client has fixed by googleapis/google-api-php-client#1683. Upgrading to [Google API

[2021-08-13 10:23] TirushV opened #1397 "How to generate fee related reports for students"
Please kindly help us by sharing any other documentation regarding this or any suggestion

[2021-08-13 10:51] yookoala commented on #1394
@TirushV: For your information, the URL to the support forum is: https://ask.gibbonedu.org/

[2021-08-13 13:40] tr-j commented on #1395
Thank you - I upgraded the client library with composer and it has partially fixed the problem. There is no error in the log now and the index_tt_ajax.php is no longer returning a 500 error. However, the timetable is blank. When I view the ajax request I see that no parameters are sent with the query:

{
	"gibbonTTID": "",
	"ttDate": "",
	"fromTT": "",
	"personalCalendar": "",
	"schoolCalendar": "

[2021-08-13 13:49] rossdotparker commented on #1394
Thanks @yookoala, not sure why the link did not copy across!

[2021-08-13 13:54] tr-j commented on #1395
After a further look, it does not appear the blank parameters is causing the error. First, when I open the home page it defaults to the "Staff Information" tab instead of the "Planner". Second, when I click on the "Last Week" or "First Week" it does submit the form through Ajax with data, but it still comes back blank. If I click "This Week" then it appears to post the page and comes back on the "

[2021-08-13 15:43] yookoala commented on #1395
@tr-j: I think this is a different error than the one you reported before. Could you please open another issue for this? Thanks.

[2021-08-17 06:27] tr-j commented on #1395
The issue is resolved with the updated libraries. Our other issue was a configuration error and everything is now working properly.

[2021-08-17 06:27] #1395 closed

[2021-08-19 08:37] yookoala commented on #1392
For record, if you run `composer update` on v23.0.00 latest commit (2d7dbe838) with composer 2.1.5, you'd get a list of warning messages:

[code]
and
[code]

Screenshot of the console:
![2021-08-19 16-34-44 的螢幕擷圖](https://user-images.githubusercontent.com/91274/130036483-4705f69e-dee9-4f2d-9730-452004309724.png)

To resolve the first 2 issues, along with all the `PHPExcel_*` related warnings, we n

[2021-08-23 01:15] SKuipers commented on #1378
Thanks for the fix @yookoala, I've merged it in. @tr-j, this issue should now be resolved, you can apply the same changed back to v22 to patch your system. Thanks for helping us to improve the system 👍

[2021-08-23 01:15] #1378 closed

[2021-08-25 04:55] yookoala commented on #1397
Hi Tirush,

Thanks for your email, and welcome to the Gibbon community. We are currently directing such enquiries to our [support forums](https://ask.gibbonedu.org/). Please start by [searching the forum for answers to these questions](https://ask.gibbonedu.org/search?Search=generate+reports). If you cannot find the information you need, post each question as a new forum thread, and we will answer

[2021-08-25 04:55] #1397 closed

[2021-08-28 02:35] yookoala commented on #1376
@KelvinMW: Do you see any relevant error message in the error_log file? If so, please post the full error message here. Thanks.

[2021-08-28 04:07] KelvinMW commented on #1376
unfortunately the error is not being captured in the error_log file.. I can only trace errors captured from different past server errors.
but the URL returns success:
[/modules/Reports/templates_manage_section_edit.php&gibbonReportTemplateID=0000000002&gibbonReportTemplateSectionID=0000000003&search=&return=success0&editID=1](url)
no error is thrown

[2021-08-30 04:01] SKuipers commented on #1376
Hi @KelvinMW and @tr-j, thanks for flagging this issue. I've had a chance to look into it and it appears there is indeed a bug, related to the way v22 changed the custom fields functionality. I've [fixed the bug here in v23](https://github.com/GibbonEdu/core/commit/701cffe0cadbec3bbbff9e58e3d9b76552253f8a), you can apply the same patch to your system by copying the file over or making the same cha

[2021-08-30 04:01] #1376 closed

[2021-08-30 06:05] SKuipers commented on #1391
Aha, thanks for sharing this detailed bug report, I think I know what the issue is. The functionality for importing was initially added in a separate Data Admin, and a few versions ago we moved it into the core. It looks like this setting may not have been moved across, but we didn't notice because we still had the Data Admin module installed. I've just PRd a fix for this for v23.

[2021-08-30 06:08] #1392 closed

[2021-08-30 06:45] KelvinMW commented on #1376
Thank you so much... this was kinder an emergency because one of our sections it was their first time trying to generate reports so a did a temporary solution by trying to upload manually and directly from the DB( copying paths and files to necessary locations and uploading those images in the uploads folder  ...lot's of work but it was a temporary solution to just make sure things are running smo

[2021-08-31 03:17] #1391 closed

[2021-09-10 18:19] ugintl opened #1427 "Database details"
I want to import the demo sql file which comes with the download.

 Which file contains the mysql database connection details?

[2021-09-10 18:26] yookoala commented on #1427
Hi @ugintl,

Thanks for your email, and welcome to the Gibbon community. We are currently directing such enquiries to our [support forums](https://ask.gibbonedu.org/). Please start by [searching the forum for answers to these questions](https://ask.gibbonedu.org/search?Search=generate+reports). If you cannot find the information you need, post each question as a new forum thread, and we will answe

[2021-09-10 18:26] #1427 closed

[2021-09-14 01:48] ugintl opened #1430 "Is it FERPA compliant?"
Is GibbonEdu FERPA compliant?

[2021-09-14 01:58] yookoala commented on #1430
Hi @ugintl,

Thanks for your question, and welcome to the Gibbon community.

I have limited knowledge to [FERPA](https://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html), so it's not obvious to me as to what is "FERPA compliant". Please kindly put your question on our [support forums](https://ask.gibbonedu.org/) or [searching the forum for answers to these questions](https://ask.gibbonedu.org/se

[2021-09-14 01:58] #1430 closed

[2021-09-14 10:06] ugintl commented on #1430
@yookoala What does it mean to be FERPA compliant?
FERPA provides parents or eligible students the right to inspect, review and request changes to be made to education records maintained by the school. Parents or eligible students have the right to prohibit schools from disclosing directory information, in addition to PII which is already prohibited from disclosure

[2021-09-16 07:00] tr-j opened #1439 "Primary User Role Deleted"
**Describe the bug**

We have had a number of staff that have had their primary role in the system nulled out. I have not found the steps to reproduce it, but I think it happens when we upgrade Gibbon.
Because the primary role is not editable there is no way to fix the problem without directly editing the database which makes it annoying to fix.

We also have had some staff that end up with an inv

[2021-09-20 02:13] SKuipers commented on #1439
This is unusual, and not something we've seen before. It doesn't appear to be related to a rollover or system update, but from your screenshot it does look like the primary role dropdown is missing when editing a user, which could cause the primary role to become unset. In Manage Roles, you can determine who has the ability to give that role to another user, with the default Restriction being None

[2021-09-20 02:26] tr-j commented on #1439
Thanks for the response on this.

My user is an administrator and I cannot edit any of the blank roles. One
of our staff members manages all of the users and she is an administrator
as well. It is editable when it isn't blank. We have a custom role that we
had some users assigned to, but at some point it seems to have disappeared
(I think during an upgrade). I believe that orphaned some of the use

[2021-09-20 02:34] SKuipers commented on #1439
If a role was deleted from the system at some point, that could certainly cause blank fields in the Edit User screen for Primary Role. One option is to run some SQL to set all the affected users back to a default Support Staff role and use the following SQL to update those users:

`UPDATE gibbonPerson SET gibbonPerson.gibbonRoleIDPrimary=006 WHERE gibbonRoleIDPrimary IS NULL OR gibbonRoleIDPrimary

[2021-09-27 10:54] hanattaw opened #1453 "Import Error on System Admin"
**Describe the bug**

When import data from file , there is an error on import field that data type not specific length from "SHOW COLUMNS FROM <tablename>" e.g. gibbonString.

**To Reproduce**

1. Go to 'System Admin'
2. Click on 'Import From File' Menu
3. Scroll down to 'SYSTEM ADMIN' Section
4. Select 'Settings category' > 'String Replacment' > Export Columns
5. Fill some data on excel. Especia

[2021-09-29 01:46] SKuipers commented on #1453
Thanks for bringing this to our attention, it does look like an interesting bug that MySQL 8.0.17 has introduced. I've put a basic fix in place for v23, which you can see here any apply to your own codebase: https://github.com/GibbonEdu/core/commit/0b29e931f00c7147907a02f7492ce1e6a961766d  I don't have access to MySQL 8.0.17+ at the moment to test it, but it should do the trick.

[2021-10-03 23:44] SKuipers opened #1457 "Hacktoberfest 2021"
<img width="954" alt="Screenshot 2021-09-30 at 2 05 35 PM" src="https://user-images.githubusercontent.com/897700/135396422-0197ebec-1e8c-420d-badc-d9dc1a21668e.png">

Hello Gibbon community! A whole crazy, bizarre, incomprehensible year has gone by since last October, and that means it's Hacktoberfest time again 🤯 🎉

Whether you’re an open source veteran or completely new, there are many ways to p

[2021-10-04 13:48] Braunson commented on #1457
I can help with a bunch of these :)

[2021-10-05 00:03] SKuipers commented on #1457
Awesome, thanks Braunson! Feel free to give a shout with any questions as you get into the codebase 👍

[2021-10-05 17:10] ljfreelancer88 commented on #1457
Count me in :)

[2021-10-08 00:52] SKuipers commented on #1457
Thanks @JacekAndrzejewski, much appreciated! 😃

[2021-10-08 05:54] rossdotparker commented on #1457
I'm working on **replacing session variables**. Sorry for not mentioning this earlier! My open PR on this is: https://github.com/GibbonEdu/core/pull/1464

[2021-10-08 05:56] rossdotparker commented on #1457
I've labelled the ATL module with "hacktoberfest" and "hacktoberfest2021" for you Ray.

[2021-10-08 05:57] SKuipers commented on #1457
Thanks Ray, if you do get into the functions.php, be sure to check here first, and if no one has started, perhaps make a note of which functions you're working on first.

[2021-11-03 00:18] SKuipers commented on #1457
That's a wrap! Thank you everyone for your amazing contributions this Hacktoberfest 😃 we've seen some great refactoring in the core, and appreciate the new contributors who stopped by to lend a hand with our efforts. Much appreciated! Hope you all got your t-shirts or trees for this year's event.

[2021-11-03 00:18] #1457 closed

[2021-11-06 17:03] taha-mahmoud-ly opened #1562 "update the /vendor/tecnickcom/tcpdf"
**Describe the bug**

tcpdf causes a fatal error with PHP8 as numeric curly braces are no more allowed(  already depricated in PHP7.4) .

it needs to be updated with the latest version

[2021-11-07 03:33] SKuipers commented on #1562
Hi @taha-mahmoud-ly Thanks for your message. We've already updated TCPDF in the current development version of Gibbon, v23, which will be released in January 2022. You can find the changes in following pull request: https://github.com/GibbonEdu/core/pull/1434 Thanks!

[2021-11-07 03:33] #1562 closed

[2021-12-06 10:05] ThanaphatKalaya opened #1583 "Some Emojis cannot be used in most text fields or text editors."
When attempting to add a description using emojis in a planner entry, the data was not saved after the initial emoji position. (Emojis with 4 digits hex work, but those with 5 digits do not.)
After some research, I discovered that it must deal with SQL connections and data collations.
So I try to alter all tables in my local database to use the utf8mb4_0900_ai_ci collation and configure my local s

[2022-01-03 03:47] truonghuuphuc opened #1594 "A Stored Cross-Site Scripting (XSS) injection vulnerability exists in Gibbon CMS version v22.0.01"
[ Content removed by admin to follow proper security disclosure measures ]

[2022-01-03 04:11] SKuipers commented on #1594
Hi Trương Hữu Phúc. We greatly appreciate that you sent an email to our support team with this information. When it comes to security vulnerabilities, it is always best to share them directly via email rather than posting them publicly, as this gives our team the chance to patch it and safely update users systems. We greatly appreciate that you spotted this issue, please do see the response we alr

[2022-01-03 04:11] #1594 closed

[2022-01-03 04:37] truonghuuphuc commented on #1594
I hope team patch vulnerabilities.
According to the team, is this vulnerability considered a cve?
Have a nice day team

Vào Th 2, 3 thg 1, 2022 vào lúc 11:11 Sandra Kuipers <
***@***.***> đã viết:

[2022-01-03 12:03] truonghuuphuc commented on #1594
Once the vulnerability has been patched,  I hope you response.Because i would like to report this to CVE Mitre for registering it with a CVE ID.

[2022-01-05 09:31] tr-j opened #1595 "tcpdf library error"
**Describe the bug**
I can no longer scan the assets directory on the reports module. It results in a blank screen.

In the logs I get many errors, such as:
[05-Jan-2022 12:45:09 Asia/Yangon] PHP Deprecated:  Required parameter $currentfont follows optional parameter $setbom in /home/gibbon/public_html/vendor/tecnickcom/tcpdf/include/tcpdf_fonts.php on line 1899
[05-Jan-2022 12:45:09 Asia/Yangon]

[2022-01-05 09:48] yookoala commented on #1595
Thanks for reporting. Gibbon after #1434 (merged into v23.0.00) will allow you to manually update the tcpdf version.

For v22.0.00, you need to manually remove these lines from composer.json:
https://github.com/GibbonEdu/core/blob/v22.0.01/composer.json#L67-L72

Then you can run this [composer]()getcomposer.org/ command to upgrade tcpdf to its latest version:
[code]

[2022-01-06 11:59] JamieSlome opened #1596 "Security concern"
Hey there!

I belong to an open source security research community, and a member (@truonghuuphuc) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pr

[2022-01-09 12:44] SKuipers commented on #1596
Hi @JamieSlome

Thank you for your message. Yes, we had received this report from @truonghuuphuc via email to support@gibbonedu.org and had already responded to them promptly (within 24 hours). There was an additional report in the Issue tracker which we removed, in keeping with best practices for not reporting vulnerabilities publicly until the development team has had a chance to review and patc

[2022-01-09 13:13] #1453 closed

[2022-01-09 14:11] arthurtalkgoal opened #1598 "Failed to apply utf8mb4 and only support utf8 in Home > User Admin > Manage Users > Edit User"
In Home > User Admin > Manage Users > Edit User , I tried the utf8mb4 char which failed to be stored:

**𦾾** is utf8mb4 supported but not in utf8

I did tried the command in mysql query to test the result in gibbon:

```update  gibbonPerson set nameInCharacters="余東𦾾" where username = "myuser1" limit 1;```

The database successful show the words in utf8mb4 but failed in gibbon, instead it becomes a

[2022-01-10 00:35] SKuipers commented on #1598
Hi @arthurtalkgoal thanks for your message. As you've seen, Gibbon doesn't support utf8mb4 by default, and while it is a development goal for us, we've identified a number of changes we'd need to make to work towards that in future versions.

As you're testing this change on your system, be sure to not only change the collation of the column itself, but also the database collation, which tends to

[2022-01-10 00:42] SKuipers commented on #1595
Thanks @tr-j Gibbon  v23.0.00, releasing January 20th, 2022, contains the updated version of TCPDF.

[2022-01-10 00:42] #1595 closed

[2022-01-10 01:51] SKuipers commented on #1596
We have now added a [SECURITY.md](https://github.com/GibbonEdu/core/security/policy) file. Thanks!

[2022-01-10 01:51] #1596 closed

[2022-01-10 02:20] #1439 closed

[2022-01-10 15:45] arthurtalkgoal commented on #1598
Thanks @SKuipers and the information. Can I ask that you mentioned `Gibbon doesn't support utf8mb4 by default` so that if I did the changes in mysql including the DB default charset and collation (which I did for the column only so far), then Gibbon should be able to allow the utf8mb4, is that correct? (or I need to change some PHP coding too, at least in the edit user page?)

Since it is a blocke

[2022-01-11 00:03] SKuipers commented on #1598
Hi Arthur, it just means we haven't had the capacity yet to investigate migrating the whole system over to using utf8mb4. Be sure to update your database and table charset, also check out the post here for changes to make to the MySqlConnector class: https://github.com/GibbonEdu/core/issues/1583. Hope this helps!

[2022-01-18 09:28] SKuipers commented on #1598
I'm closing this PR for now, utf8mb4 support has been added to the v24 roadmap. Thanks!

[2022-01-18 09:28] #1598 closed

[2022-04-14 17:21] C-Fu opened #1618 "Any docker image?"
### Problem

As per title. Having a docker image tremendously helps with the install and setup. Please consider.

The ones that I found are really old and not maintained anymore.

### Proposed Solution

A docker image would help

### Alternatives

_No response_

### Additional Context

_No response_

[2022-04-20 12:26] arthurtalkgoal opened #1619 "Discussion: nationalIDCardNumber missing in v22.0?"
### Problem

I just updated to v22 but the `nationalIDCardNumber `in my `gibbonPerson` seems removed as it was in the v21 coding? this field is very important to my school's data.

### Proposed Solution

I think it should be stored in some description field and it is very critical for the data records and history

### Alternatives

_No response_

### Additional Context

_No response_

[2022-04-20 12:47] rossdotparker commented on #1619
Hi Arthur, this is related to line 23 in the v22 CHANGELOG.txt file: https://github.com/GibbonEdu/core/blob/v22.0.00/CHANGELOG.txt

This version of Gibbon introduces a much more flexible system for handling documents, and so whilst that field has gone, the data has not. In the database you can find this under the table gibbonPersonalDocument, and in the interface, you can manage your document type

[2022-04-20 21:08] arthurtalkgoal commented on #1619
Thanks @rossdotparker I figure out how to do the sql update on the related tables and fields now. Thanks again!

[2022-04-20 21:08] #1619 closed

[2022-04-21 00:23] rossdotparker commented on #1619
Thanks great to hear, thanks for letting us know...and you are most welcome : )

[2022-04-23 02:31] arthurtalkgoal opened #1620 "Bug: Cannot search Chinese by Charater in the search function"
### Describe the Bug

The search bar return no results from the Chinese Name, it works before in v19. And it is working for all English fields.

We recently upgraded to v22 and the database upgrade from previous v19.

### To Reproduce

1. Go to Search Bar
2. Type the Chinese name of the user
3. No results found

### Expected behavior

It should return the Students with chinese name matched.

### A

[2022-05-10 01:57] jcarney2024 opened #1621 "Bug: max_input_vars not showing correct value"
### Describe the Bug

When trying to do things, such as changing permissions, there is an error saying the max_input_vars value isn't high enough. But I have double and triple checked that it's right, and it's still giving an error.

### To Reproduce

1. Click on Admin
2. Click on System Admin
3. Click on System Check
4. See error in "PHP Settings" section, labeled "max_input_vars >= 5000"

### Ex

[2022-05-13 11:53] powertashton commented on #1621
Hi @jcarney2024 , I believe typically this would be more so an issue for the forums rather than github issues, hence why it's gone unanswered for a few days, without knowing the specifications of the server itself (not just the browser/device you're accessing it with) often makes it difficult to provide support for questions like this, so in future I'd recommend including these details from the ge

[2022-06-01 02:14] #1621 closed

[2022-06-10 01:37] SKuipers commented on #1618
Hi @C-Fu It looks like one of our community members has setup a docker image, you can check it out here: https://github.com/PaulLebmann/docker-gibbonedu  Hope this helps!

[2022-06-10 01:37] #1618 closed

[2022-06-10 01:47] #1620 closed

[2022-06-10 02:13] SKuipers commented on #1377
Hi @tr-j My apologies this issue has been open so long. I've had another look, as we wrap up testing for the next version, and still cannot reproduce the error, even with the very helpful data you've provided.

The way the proofs work is that they save the edited comments in a different table, and do not modify the original comment. The only time in the reporting_proofreadProcess.php script that t

[2022-06-10 02:13] #1377 closed

[2022-06-10 02:19] SKuipers commented on #1377
Wait, I just had a thought after hitting send... were you using the Proofread page to write the initial comments, rather than suggest edits? I think this could certainly cause the problems you're seeing! Comments should be written using the My Reporting & Write Reports pages, which stores them properly as original report values. The Proofread page should only be used to read and suggest edits to c

[2022-06-10 03:47] tr-j commented on #1377
Hi Sandra,

Thank you for looking at this again. We are modifying our process this year
so that teachers submit comments, then a group of teachers will proofread
the comments, and then the school leadership does the final checks. I'm
hoping this aligns better with the way the software is intended to work and
we don't run into this issue anymore.

Thanks,

Tr. James

On Fri, Jun 10, 2022 at 8:49 AM

[2022-08-15 07:01] azizly opened #1631 "Discussion: Arabic months names translation fix"
### Problem

Good day gibbon team, this is Abdelaziz, I have been helping in Arabic translation for Gibbon for a while,  I want to bring to attention that the translation used for Arabic month names in gibbon is not the best translation out there, it is using a special translation that is used in only couple Arabic speaking countries, while others find it hard to understand which month is which.

[2022-09-02 10:34] KelvinMW opened #1632 "Bug: Copy to next Year"
### Describe the Bug

The function copy to next year under **school admin>> Manage Form groups**
does not check for duplicate of form group short name and if copy to next year is clicked multiple times it **populates next year with duplicate form groups**

### To Reproduce

Go to : School Admin
on Left side Menu: Manage Form Group
then
Click copy Form Group to next year (click several times)

###

[2022-09-06 03:44] SKuipers commented on #1632
Hi Kelvin, thanks for the heads up! I've fixed this in v25 in the following commit, which is backwards compatible to v24: https://github.com/GibbonEdu/core/commit/09289a53743457122a6b44a1671a5eedcf938baa

[2022-09-06 03:44] #1632 closed

[2022-09-06 03:50] SKuipers commented on #1631
Thanks Abdelaziz for opening this discussion and flagging this issue, we're keen to support the internationalization of Gibbon in many different regions and languages. Thank you also for your translation work! 😃

Are you able to help indicate some specific areas of the system where you are seeing the month names used in this way? I wonder if this may be related to the built-in PHP date translation

[2022-09-06 09:19] azizly commented on #1631
Hi Sandra, Happy to help always, the mentioned translation is in the Date picker everywhere in Gibbon.
when picking a date of birth, a date of starting school, a date for attendance.
basically whenever the windows pops out to choose a year, month, and date.

[2022-09-06 11:12] yookoala commented on #1631
@azizly Would it be possible if you send us a few screenshot of the datepickers you mentioned?

[2022-09-06 11:17] azizly commented on #1631
![1](https://user-images.githubusercontent.com/95902542/188622585-b4d53816-ea60-4688-b615-3fa5a3e64556.png)
Hi, here is one, in the home page, on the dashboard, when showing the planner and time schedule.

![2](https://user-images.githubusercontent.com/95902542/188622587-2f776801-07fa-4429-a257-bc7734cf4d31.png)
Second one, when choosing starting or leaving date for a student, (full, left)

![3](h

[2022-09-07 01:59] yookoala commented on #1631
Gibbon is bundling jQuery UI v1.11.4 and using [its datepicker](https://jqueryui.com/datepicker/) for the job. The translation is in their repository. They have 2 translation files for Arabic:
* https://github.com/jquery/jquery-ui/blob/1.11.4/ui/i18n/datepicker-ar.js
* https://github.com/jquery/jquery-ui/blob/1.11.4/ui/i18n/datepicker-ar-DZ.js

Can you please check if the faulty Arabic month names

[2022-09-12 15:24] azizly commented on #1631
Hello @yookoala , I am sorry for my late reply.
The month names in: https://github.com/jquery/jquery-ui/blob/1.11.4/ui/i18n/datepicker-ar.js
are perfect, please replcae the current ones on gibbon with those.

The one used in gibbon currently is neither one of both links you sent, it's rather another form of translation that is mostly used in Lebanon  and called "Assyrian calendar"  please read mor

[2022-09-12 23:49] yookoala commented on #1631
@azizly Thanks for the reply.

I'd like to be sure where the problem started before formulating a fix.

The language file used by Gibbon is this one:
https://github.com/GibbonEdu/core/blob/323307e6b78bc5c6d94e704fa081bdff90398806/lib/jquery-ui/i18n/jquery.ui.datepicker-ar.js

Can you please check if the file is the source of the translation issue?

[2022-09-13 07:45] azizly commented on #1631
Yes, this is it, the file is using "Assyrian calendar" as mentioned in my previous comment, please replace it with the file in https://github.com/jquery/jquery-ui/blob/1.11.4/ui/i18n/datepicker-ar.js
and it should be prefect and good to go with  Gregorian translation.

[2022-09-15 00:09] fvlasie opened #1639 "Bug: Planner time slots stop auto-filling"
### Describe the Bug

When adding lesson plans to the planner, usually the page will advance to the next available time slot. This stops working after adding several lesson plans into the future. In my case, entering lesson 1 through 10 automatically added the proper time slot and day. Every lesson I add after that will not have the time and day prefilled for the next timeslot after clicking Submi

[2022-09-15 09:31] yookoala commented on #1639
Hi @fvlasie. I'm not very familiar with the actual operation of Gibbon. I tried to follow your steps. But I have trouble following the steps.

1. I installed locally with demo data. Then I manually created the course and class to test with.
2. Then I go to "Learn" > "Planner" in the top menu.
    ![Screenshot from 2022-09-15 17-26-23](https://user-images.githubusercontent.com/91274/190368128-be812

[2022-09-15 19:31] fvlasie commented on #1639
You have to have a class that is tied to the timetable. This requires quite a bit of setup so I recommend using the demo data.

[2022-09-16 00:43] #1631 closed

[2022-09-16 01:44] SKuipers commented on #1631
Thanks Abdelaziz for your help and Koala for finding and creating a fix, great to see this issue addressed 😃 This is now [merged into v25](https://github.com/GibbonEdu/core/commit/780101a57194756f0dad606a3876c4343c4cd0ee). Abdelaziz, you're welcome to apply the same changes to your installation and hopefully you should see improved date translations.

[2022-09-16 03:47] SKuipers commented on #1639
Hi FV, I've checked out the code and it looks like this is by design. It will look up to ten lessons into the future to check for upcoming dates when you click the add button, all based on the current date. Checking every possible lesson would add quite the overhead to this script. This check will happen if you click "Add" from the planner, and I suspect is helpful for planning upcoming lessons an

[2022-09-16 05:15] fvlasie commented on #1639
Could it look ten lessons into the future from the current lesson position so the calculation is still limited but moves forward with the user? (I have had complaints about this from other users too.)

[2022-09-16 13:17] azizly commented on #1631
Updated the code on my installation and it works like a charm, thank you everyone.

[2022-09-16 18:05] fvlasie opened #1640 "Bug: Timetable "tool tip" popup show in wrong column"
### Describe the Bug

The "Add Lesson Plan" popup is showing in the wrong column.
(I know it seems nitpicky but these little interface quirks raise doubt in the end user's minds about the system in general.)

### To Reproduce

Go to the Timetable in the capacity of teacher and hover the mouse over the "+" sign.

### Expected behavior

Popup should appear above the mouse.

### Actual behavior

Popu

[2022-09-19 01:11] SKuipers commented on #1640
No problem, looks like this was a quick fix which I've committed to v25 here: https://github.com/GibbonEdu/core/commit/f0205b33501e085b8966bf3d67ef196cac899174

[2022-09-19 01:11] #1640 closed

[2022-09-19 01:35] SKuipers commented on #1639
Hi @fvlasie, sure, I can see the utility value of that change. I've updated it for v25 to look for the most recent lesson and suggest the date for the next lesson in sequence, falling back to the current date if the lesson planner is empty. You can see and test out the change here: https://github.com/GibbonEdu/core/commit/402b7428ace02795c71bacd40edc64d7384ee798

[2022-09-19 01:35] #1639 closed

[2022-09-19 02:50] fvlasie commented on #1639
Thank you Sandra!

[2022-09-19 02:51] fvlasie commented on #1640
Thank you again!

[2022-09-22 07:50] yookoala opened #1643 "Discussion: retire the use of strftime from code base"
### Problem

Some of the code is still using the deprecated function [strftime](https://www.php.net/manual/en/function.strftime.php). Includes:

* [modules/Formal Assessment/moduleFunctions.php](https://github.com/GibbonEdu/core/blob/9879b5c8511229e7acd39500fe47f9d6999e19eb/modules/Formal%20Assessment/moduleFunctions.php)
* [modules/Timetable/moduleFunctions.php](https://github.com/GibbonEdu/core/

[2022-09-23 01:15] SKuipers commented on #1643
Huge thanks for looking into this! Luckily, since much of the formatting is contained within the Format class, I think we can definitely start making changes to get inline for 8.1 and 9+ compatibility. As you've noted, the "readable" methods have possibly exposed some of the formatting strings, which is not ideal, but something we should be able to handle. I agree with your suggestion to use the r

[2022-09-23 02:45] yookoala commented on #1643
I already have something in the work for the internally usages of strftime() (i.e. methods that do not expose strftime() format string to parameter). Will send a PR real soon.

For the `Gibbon\Service\Format::dateReadable()` and `Gibbon\Service\Format::dateTimeReadable()` calls, however, I have nothing yet. It's tricky because we have to deal with all the usages of these 2 methods. Also we don't w

[2022-09-26 04:22] yookoala opened #1644 "Discussion: Semi-auto installation"
### Problem

* If you install a Gibbon copy, Gibbon requires to have no configuration file in the directory. So before installation, the config file need to be gone.
* For dockerized applications, we don't usually expose the root directory to volume (i.e. stored outside of docker). But unless a folder is exposed as a volume, files inside it will be removed on reboot. Clearly the config file need t

[2022-09-26 06:20] yookoala commented on #821
Questions about the remaining modules:
1. [IB Diploma](https://github.com/GibbonEdu/module-IBDiploma) module is archived. Does it still needed to be refactored?
2. Is there any link to the source code of "Course Selection"?
3. Seems all left in [ATL](https://github.com/GibbonEdu/module-ATL/) to refactor is [alt_write.php](https://github.com/GibbonEdu/module-ATL/blob/a1fa7e49e31e5ca0ffc44547699a112

[2022-10-24 18:59] fvlasie opened #1680 "Bug: Nexmo SMS no longer works"
### Describe the Bug

Nexmo has been aqcuired by Vonage and the old code no longer works.

### To Reproduce

Try to send a test SMS with Nexmo credentials.

### Expected behavior

SMS should be sent.

### Actual behavior

SMS is not sent.

### Screenshots

_No response_

### Gibbon version

v25

### Browser

_No response_

### Browser Version

_No response_

### Additional Context

According to th

[2022-10-25 06:48] yookoala commented on #1680
Gibbon is using heavily [matthewbdaly/sms-client](https://github.com/matthewbdaly/sms-client) for SMS sending. The best way to replace this, I think, is to write a Mattewbdaly's [Driver](https://github.com/matthewbdaly/sms-client/blob/master/src/Contracts/Driver.php) implementation for [Vonage API](https://developer.vonage.com/api/messages-olympus?theme=dark) to replace it.

The example curl code

[2022-10-25 07:04] yookoala commented on #1680
@fvlasie: I roughly went over the API documentation. It seems there isn't any breaking change to the API. I don't quite understand why the current code would stop working. I tried to invoke the API directly with CURL and your API key and secret. But I got no SMS either. If their documentation is correct, perhaps the problem is elsewhere.

Could there be any issue with your Nexmo / Vonage account?

[2022-10-28 08:20] yookoala opened #1689 "Meta: retire old functions in functions.php"
### Problem

There are 3 types of functions in functions.php:

1. Old style database reading functions with old school `$guid` and/or `$connection2` (\PDO) as parameter.
2. Utility functions for formatting (e.g. email body sanitation) or other helper functions (e.g. resolving client IP address).
3. Shortcut for accessing core service feature (e.g. __(), __n(), __m()).

The first type of function c

[2022-11-04 02:09] SKuipers commented on #1689
Amazing, thanks for getting this initiative underway and documenting it so well 😃

[2022-11-04 05:23] SKuipers opened #1702 "Discussion: Access Management"
In reviewing #1673 and #1666, we're at a position in the refactoring to make some architectural decisions regarding access management. Currently, almost all user access to a certain page or permission is determined through the functions `isActionAccessible()` and `getHighestGroupedAction()`. These functions use a legacy style access to the database and need deprecated, as seen in #1673 and #1666.

[2022-11-04 06:13] yookoala commented on #1702
1. This is an important change in the framework. And the design matters. I'd prefer to stick to the single responsibility principle. On one hand, we need a way to **describe a particular action** in details (i.e. module, route, additional action name). On the other hand, we need **an actor that have knowledge about the current session / user** and determine if she / he can do the particular action

[2022-11-04 12:35] yookoala commented on #1702
Renaming the `Action` class as `Resource` might be more sensible. It represents combination of module and file (`URLList`) in the `gibbonAction` table. The "thingy" that an access "allow" would be the actual "actions".

The logic goes:
* **AccessManager** get the **Access** information of **Resource**.
* **Access** contains the **Action**(s) that is allowed for the user / role.

[code]

[2022-11-15 05:59] azizly opened #1707 "Bug: Preferences and logout menu shows out of the screen in RTL mode (Arabic)"
### Describe the Bug

Hello team, this is an issue that has been there for a while, i have lived with it since i started using gibbon, but i'd like to report it, as gibbon is getting better everyday, i would love to avoid visual issues that might disturb some users.

### To Reproduce

1. Switch to arabic language
2. go to home screen
3. try to log out or ope preferences menu

### Expected behavior

[2022-11-15 06:36] azizly opened #1708 "Bug: when entering invalid data, the warning shows on top of the text in RTL (Arabic)"
### Describe the Bug

Hello team, another issue that has been there since i started using gibbon, and i'd like to get it fixed, as it affects any casual user starting from the application from.
The issue is when entering invalid data in any required field, the warning shows up in English, on the right side of the text box, hiding what the user has entered wrong, so he can't see what is his mistake